= public_send @resource.type,
              @resource.serialized_json,
              xtitle: @resource.xtitle,
              ytitle: @resource.ytitle,
              suffix: @resource.suffix,
              colors: @resource.colors,
              empty: t('schematics.application.resource.empty'),
              dataset: { borderWidth: @resource.border_width },
              library: { animation: false }
