/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

- breadcrumb title, resource_path(@resource)
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.p-2
    .row.align-items-center
      .col.text-truncate.px-1
        = __card_heading(icon: :eye, title:)
      .col-auto
        = __button_generate_file_in_background(:pdf)
        = __button_emailing(resource: @resource)
        = __button_comment(resource: @resource)
        = __button_edit(resource: @resource, compact: false)
        = __button_duplicate(resource: @resource)
        = __button_destroy(resource: @resource, compact: false)
  .card-body.p-3.pt-1.pb-2
    = public_send @resource.type,
                  resource_path(@resource, format: :json),
                  xtitle: @resource.xtitle,
                  ytitle: @resource.ytitle,
                  suffix: @resource.suffix,
                  colors: @resource.colors,
                  empty: t('schematics.application.resource.empty'),
                  height: '600px',
                  download: { filename: @resource.filename },
                  dataset: { borderWidth: @resource.border_width }
= __viewer_comments(resource: @resource)
= __viewer_timeline(resource: @resource)
