= public_send @resource.type,
              @resource.serializable_hash,
              xtitle: @resource.xtitle,
              ytitle: @resource.ytitle,
              suffix: @resource.suffix,
              dataset: { borderWidth: @resource.border_width },
              library: { animation: false }
