- breadcrumb title, schematics.versions_preferences_path
.card.shadow-sm
  .card-header.p-2
    h5.m-0.text-primary.text-truncate.font-weight-bold
      = fa_icon :bell, class: "mr-3 ml-3 fa-lg align-middle"
      span.align-middle= title
  .card-body
    .table-responsive
      table.table.mb-0.table-striped
        tr
          th
            = fa_icon(:user_lock)
            = current_user.role
          - Permission.actions.each_key do |action|
            td.text-center= t(action, scope: [:activerecord, :attributes, :permission, :actions])
        - Schematics::Schema.instance.entities.sort_by(&:name).each do |entity|
          - model_class = entity.class_name.constantize
          tr
            th
              = fa_icon(entity.icon)
              = model_class.model_name.human
            - Permission.actions.each_key do |action|
              - name = :"preferences_#{entity.name}_#{action}"
              td.text-center
                .custom-control.custom-switch
                  = check_box_tag name, 'true', can?(action.to_sym, model_class) && (user_setting(name) || true), disabled: cannot?(action.to_sym, model_class), class: "custom-control-input"
                  = label_tag name, "", class: "custom-control-label"
