footer.py-3.border-top
  .row.mx-2
    .col.text-left.text-dark
      = fa_icon :copyright, class: 'mr-1 text-primary'
      = Time.current.year
      span.ml-1 = setting(:company_name)
    .col.d-none.d-lg-block.text-center.text-secondary
      = setting(:company_address)
    .col.text-right.text-dark
      = fa_icon :rocket, class: 'text-primary mr-1'
      = t('.powered_by')
      = link_to 'Schematics', '#', class: 'ml-1 text-primary'
