footer
  .row.mx-1.text-secondary.align-items-center.h-100
    .col.text-start.text-nowrap
      | &copy; #{year} #{company_name}
      = render Schematics::Footer::Network::Component.new
      = render Schematics::Footer::HelpCenter::Component.new
    .col.text-end.text-nowrap
      .d-none.d-sm-inline
        - if resource
          = render Schematics::ResourceLinkTo::Component.new(resource:, css_classes:) do |c|
            - c.with_body do
              = fa_icon :code_branch, class: 'me-2'
              = resource
        = fa_icon :rocket, class: 'text-primary ms-1 me-2'
        = t('.powered_by')
      = link_to website_url, class: 'ms-1' do
        = image_tag 'schematics/logo.svg'
