footer
  .row.mx-1.text-secondary.align-items-center.h-100
    .col
      | &copy; #{year} #{company_name}
    .col.text-end.text-nowrap
      - if resource
        = render Schematics::ResourceLinkTo::Component.new(resource:, css_classes:) do |c|
          - c.with_body do
            = fa_icon :code_branch, class: 'me-2'
            = current
      = fa_icon :rocket, class: 'text-primary ms-1 me-2'
      = t('.powered_by')
      = link_to website_url, class: 'ms-1' do
        = image_tag 'schematics/logo.svg'
