@import 'jquery-ui/themes/base/theme';
@import 'jquery-ui/themes/base/datepicker';

.best_in_place .form-control { // scss-lint:disable SelectorFormat
  height: 1.8rem;
  width: auto;
}

.best_in_place:hover { // scss-lint:disable SelectorFormat
  background: var(--highlight);
}

.table tr {
  .best_in_place { // scss-lint:disable SelectorFormat
    cursor: copy;
  }
}

