@import 'slim-select/dist/slimselect';

.ss-main {
  padding: 0 !important;

  .ss-multi-selected .ss-value {
    background: var(--bs-primary) !important;
  }

  .ss-list .ss-option:hover {
    background: var(--bs-primary);
  }

  .ss-single-selected,
  .ss-multi-selected {
    background: transparent;
    border: 0;
  }

  .ss-single-selected .placeholder {
    background-color: initial;
    cursor: initial;
    opacity: initial;
  }

  .ss-content {
    border: 0;
    border-radius: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .08); // scss-lint:disable ColorVariable

    .ss-search-highlight {
      background: var(--highlight) !important;
    }

    .ss-option.ss-disabled {
      background: transparent;
    }
  }
}

.ss-content .ss-search input {
  border: 0;
  color: inherit;

  &:focus {
    box-shadow: none;
  }
}
