.swagger-ui {
  .scheme-container {
    background: transparent;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    max-width: initial;
    padding: 0;
  }

  input[type="text"],
  .opblock .opblock-section-header {
    background: transparent;
  }
}
