.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #dee2e6;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .card {
  width: 45%;
  float: left;
  position: relative;
}

.timeline > li > .card:before {
  position: absolute;
  top: 18.5px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid rgba(0, 0, 0, 0.125);
  border-right: 0 solid rgba(0, 0, 0, 0.125);
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .card:after {
  position: absolute;
  top: 19.5px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-icon {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 57px;
  text-align: center;
  position: absolute;
  top: 8.5px;
  left: 50%;
  margin-left: -26px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li:nth-child(even) > .card {
  float: right;
}

.timeline > li:nth-child(even) > .card:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li:nth-child(even) > .card:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

@media (max-width: 768px) {
  ul.timeline:before {
    left: 51px;
  }

  ul.timeline > li > .card {
    width: calc(100% - 90px);
  }

  ul.timeline > li > .timeline-icon {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .card {
    float: right;
  }

  ul.timeline > li > .card:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .card:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
