.timeline::before {
  background-color: #dee2e6;
  bottom: 0;
  content: ' ';
  left: 50%;
  margin-left: -1.5px;
  position: absolute;
  top: 0;
  width: 1px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;

  .card {
    float: left;
    position: relative;
    width: 45%;
  }

  .card::after {
    border-bottom: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-top: 14px solid transparent;
    content: ' ';
    display: inline-block;
    position: absolute;
    right: -14px;
    top: 19.5px;
  }

  .timeline-icon {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 50px;
    left: 50%;
    line-height: 57px;
    margin-left: -26px;
    position: absolute;
    text-align: center;
    top: 8.5px;
    width: 50px;
  }
}

.timeline > li::before,
.timeline > li::after {
  content: ' ';
  display: table;
}

.timeline > li::after {
  clear: both;
}

.timeline > li:nth-child(even) > .card {
  float: right;
}

.timeline > li:nth-child(even) > .card::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li:nth-child(even) > .card::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

@media (max-width: 768px) {
  ul.timeline::before {
    left: 51px;
  }

  ul.timeline > li > .card {
    width: calc(100% - 90px);
  }

  ul.timeline > li > .timeline-icon {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .card {
    float: right;
  }

  ul.timeline > li > .card::after {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
}
