.tribute-container {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .1), 0 5px 20px rgba(0, 0, 0, .05);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    background: #fff;
    max-width: 100%;
    min-width: 15em;
    padding: .2em 1em;
  }

  .highlight {
    background: #1b6ac9;
    color: #fff;

    span {
      font-weight: bold;
    }
  }
}
