span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  background-clip: padding-box;
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .08);
  cursor: pointer;
  display: none;
  float: left;
  font-weight: 200;
  left: 0;
  list-style: none;
  margin: 2px 0 0;
  padding: 5px 0;
  position: absolute;
  text-align: left;
  top: 100%;
  width: 100%;
  z-index: 5;
}

span.twitter-typeahead .tt-suggestion {
  clear: both;
  display: block;
  line-height: 1.42857143;
  padding: 3px 10px;
  white-space: nowrap;

  .tt-highlight {
    background-color: #fcf8e3;
    padding: .2em;
  }
}

span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #fff;
  outline: 0;
  text-decoration: none;
}

.input-group span.twitter-typeahead {
  -webkit-box-flex: 1;
  display: block !important;
  flex: 1 1 0%;
  margin-bottom: 0;
  min-width: 0;

  input {
    max-width: 100% !important;
    min-width: 100% !important;
  }
}
