.card.shadow
  .card-header
    ul.nav
      li.nav-item
        h5.m-0.text-primary.font-weight-bold.card-header-title
          = fa_icon :folder_open, class: "mr-2"
          = "#{@resource.parent&.name} > #{@resource.name}"
      li.nav-item.ml-auto
        = link_to url_for(action: :new), class: "btn btn-primary mr-2" do
          = fa_icon :folder, class: "mr-2"
          .d-none.d-lg-inline Ajouter un nouveau dossier
        = link_to url_for(action: :new), class: "btn btn-primary" do
          = fa_icon :file, class: "mr-2"
          .d-none.d-lg-inline Ajouter des fichiers
  .card-body
    .row
      .col.text-center
        = link_to @resource.parent.nil? ? url_for(action: :index) : @resource.parent do 
          = fa_icon :folder_open, size: '2x', type: :regular
          h6.mt-2 ..
      - @resource.sub_directories.each do |directory|
        = render 'directory', directory: directory
      - @resource.files.each do |file|
        = render 'file', file: file
