.card.shadow-sm.animate__animated.animate__zoomIn.mb-4
  .card-body.p-3
    h5 = link_to(@post, path)
    p = caption
    .row
      .col-auto.align-self-center
        = __attachment(:avatar, user: author)
      .col
        = author
        .text-body-secondary data-controller='timeago' datetime=created_at
