@import 'bootswatch/dist/darkly/variables';
$primary: darken(#2c3e50, 5%);
$link-color: $light;
$card-bg: $secondary;
$card-cap-bg: $dark;
$secondary: $light;
$navbar-light-color: $light;
$navbar-light-hover-color: $light;
$navbar-light-active-color: $light;
$_light: $light;
$light: $dark;
$dark: $_light;
$pagination-bg: $primary;
$pagination-hover-bg: darken($primary, 15%);
$pagination-disabled-bg: lighten($primary, 15%);
$pagination-active-bg: $primary;
$table-accent-bg: lighten($light, 2.5%);
@import 'default';
@import 'bootswatch/dist/darkly/bootswatch';

.navbar,
.navbar.scrolled:hover {
  background: $light !important;
}

.navbar.scrolled {
  background: rgba(48, 48, 48, .6) !important;
}

.text-primary,
.text-light {
  color: $dark !important;
}

.form-control {
  color: $dark !important;
}

.chart svg,
iframe.google-map {
  filter: invert(90%);
}

.switch-theme.dark {
  display: none;
}
