@import 'bootstrap/scss/bootstrap';
@import 'tom-select/dist/scss/tom-select.bootstrap5';

// Bootstrap

.form-check-input:checked {
  @extend .bg-primary;
  @extend .border-primary;
}

.fixed-top {
  left: initial;
}

// Turbo

.turbo-progress-bar {
  @extend .bg-primary;
}

// Tom Select

.ts-dropdown,
.ts-dropdown.form-control,
.ts-dropdown.form-select {
  @extend .border-0;
  @extend .shadow-sm;
  @extend .list-group-striped !optional;
}

// Tribute

.tribute-container {
  ul {
    @extend .list-group;
    @extend .list-group-striped !optional;
    @extend .shadow-sm;
  }

  li {
    @extend .list-group-item;
    @extend .list-group-item-action;
    @extend .p-2;
    @extend .border-0;
    @extend .text-start;
    @extend .text-truncate;
    cursor: pointer;
  }
}

// Timeline

.timeline > li > .card::after {
  border-left-color: $card-bg;
  border-right-color: $card-bg;
}

// Pagy

.pagy-items-selector-js input {
  @extend .border-0;
  @extend .text-secondary;
  @extend .fw-bold;
}
