@import 'bootstrap/scss/bootstrap';
@import 'primary';

// Forms - Chrome autocomplete

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 30px $light inset;
  -webkit-text-fill-color: $dark;
  transition: background-color 5000s ease-in-out 0s;
}

// Dropdowns

.dropdown-item:active,
.dropdown-item:hover {
  color: $white;
}

// List groups

ul.list-group.list-group-hover li:hover {
  color: $white;
}

ul.list-group.list-group-striped li:nth-of-type(even) {
  background: $light;
}

// Slim Select

.ss-main {
  color: $gray-700 !important;

  .ss-search input {
    background: $light !important;
  }

  .ss-content {
    background: $card-bg !important;
  }
}

// Timeline

.timeline > li > .card::after {
  border-left-color: $card-bg;
  border-right-color: $card-bg;
}

// Pagy

.pagy-items-selector-js input {
  background: $light;
  border: 0;
  color: $secondary;
  font-weight: bold;
}
