$input-btn-focus-width: 0;
$grid-gutter-width: 1rem !default;
@import 'bootstrap/scss/bootstrap';

// Forms - Custom file

label.custom-file-label {
  background: $light;
}

label.custom-file-label::after {
  background: $primary;
}

input.custom-file-input.is-valid + label.custom-file-label::after {
  background: $success;
}

input.custom-file-input.is-invalid + label.custom-file-label::after {
  background: $danger;
}

// Turbolinks

.turbolinks-progress-bar {
  background: $primary;
}

// List groups

ul.list-group.list-group-hover li:hover {
  background: $primary !important;
  color: $white;
}

ul.list-group.list-group-striped li:nth-of-type(even) {
  background: $table-accent-bg;
}

// Swal2

.swal2-container.fade:not(.show) {
  opacity: inherit !important;
}

.swal2-modal.show-swal2 {
  background: $card-bg !important;

  h2,
  .swal2-content {
    color: inherit !important;
  }
}

button.swal2-confirm.styled {
  background: $primary !important;
}

button.swal2-cancel.styled {
  background: $danger !important;
}

.show-swal2.disable-animation {
  animation: none !important;
}

// Slim Select

.ss-main {
  color: $gray-700 !important;

  .ss-multi-selected .ss-value {
    background: $primary !important;
  }

  .ss-search input {
    background: $light !important;
  }

  .ss-list .ss-option:hover {
    background: $primary !important;
  }

  .ss-content {
    background: $card-bg !important;
  }
}

// Timeline

.timeline > li > .card::after {
  border-left-color: $card-bg;
  border-right-color: $card-bg;
}

// Pagy

.pagy-items-selector-js input {
  background: $light;
  border: 0;
  color: $dark;
  font-weight: bold;
}
