$secondary: #95a5a6;
$input-btn-focus-width: 0;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

$body-bg: $light;
$toast-background-color: $white;
$input-bg: $light;
$input-group-addon-bg: $light;

$font-size-root: 12px;
$enable-caret: false;
$badge-padding-y: .25em;
$badge-padding-x: .5em;
$accordion-button-active-bg: $card-cap-bg;

$utilities: map-merge(
  $utilities,
  (
    'z-index': (
      property: z-index,
      class: z-index,
      values: (
        1: 1,
        2: 2,
        3: 3,
        4: 4
      )
    )
  )
);

@import 'default';

.switch-theme.light {
  display: none;
}

.dropdown-header {
  @extend .bg-light;
}

.navbar {
  @extend .navbar-light;
  @extend .bg-white;
}
