ul.nav.nav-tabs.border-0 role='tablist'
  - entities.each_with_index do |entity, index|
    li.nav-item role='presentation'
      a.nav-link.border-0 {
        id="#{entity.table_name}-tab"
        data-bs-toggle='tab'
        data-bs-target="##{entity.table_name}"
        type='button'
        role='tab'
        aria-controls=entity.table_name
        aria-selected='false'
        class=('active' if index.zero?)
      }
        = render Schematics::CardHeading::Component.new(icon: entity.icon, title: entity.model_class.human_name.pluralize.titleize)
