template#schema-editor-entity data-nested-form-target='templates'
  = @form.simple_fields_for :entities, entity, child_index: 'INDEX' do |builder|
    = render Schematics::SchemaEditor::Entity::Component.new(builder:)
