.col-xl-3.col-md-6
  .card.border-0
    .card-body.p-3
      .row.g-0.align-items-center
        .col
          small.text-uppercase.text-truncate.text-primary.fw-bold
            = @stat
          h6.mb-0.text-secondary.text-truncate.fw-bold
            = value_formatted
        .col-auto
          - if model_class
            = link_to fa_icon(icon, size: '2x'), model_class, class: 'text-light'
          - else
            = fa_icon :triangle_exclamation, size: '2x', class: 'text-danger'
