- breadcrumb title, schematics.versions_path
.row.justify-content-center
  .col-xl-9.col-md-12
    ul.timeline.list-unstyled
      - @versions.each do |version|
        li
          .timeline-icon.bg-primary
            = link_to fa_icon(version.entity.icon, size: '2x'), main_app.polymorphic_path(version.model_class), class: 'text-light'
          .card.border-0
            .card-body.p-3
              = render Schematics::VersionPreview::Component.new(version:)
= render Schematics::Viewer::Pagination::Component.new(pagy: @pagy)
