- breadcrumb title, versions_path
= turbo_frame_tag 'versions', data: { turbo_action: 'advance' } do
  .row.justify-content-center
    .col-xl-9.col-md-12.position-relative
      ul.timeline.list-unstyled
        - @versions.each do |version|
          li
            .timeline-icon.bg-primary
              = __resource_link_to(resource: version.model_class) do |c|
                - c.with_body do
                  = fa_icon version.entity.icon, size: '2x', class: 'text-white'
            .card.animate__animated.animate__zoomIn
              .card-body.p-3
                = __version_preview(version:)
  = __viewer_pagination(pagy: @pagy)
