- breadcrumb title, schematics.versions_path
.row.no-gutters.align-items-center
  .col-lg
    .card.shadow-sm
      .card-header.p-2
        .row.align-items-center
          .col.text-truncate
            h5.m-0.text-primary.text-truncate.font-weight-bold
              = fa_icon @version.entity.icon, class: 'mr-3 ml-3 fa-lg align-middle'
              span.align-middle = title
      .card-body.p-0
        .table-responsive
          table.table.mb-0.table-striped
            tbody.table-bordered.border-0
              - @version.entity.renderable_elements.stable_sort_by(&:weight).each do |field|
                tr
                  th
                    = fa_icon field.icon, class: 'mr-2 text-muted'
                    = @version.model_class.human_attribute_name(field.name)
                  td
                    - old_version = @version.reify(dup: true)
                    = render Schematics::Resource::Component.new(resource: old_version, field: field) if old_version
  .col-lg-1.my-4.mx-0.text-center
    = fa_icon :arrow_right, size: '4x', class: 'text-dark d-none d-lg-inline-block'
    = fa_icon :arrow_down, size: '4x', class: 'text-dark d-inline-block d-lg-none'
  .col-lg
    .card.shadow-sm
      .card-header.p-2
        .row.align-items-center
          .col.text-truncate
            h5.m-0.text-primary.text-truncate.font-weight-bold
              = fa_icon @version.entity.icon, class: 'mr-3 ml-3 fa-lg align-middle'
              span.align-middle = title
          .col-auto.mr-1
            - if can?(:revert, @version)
              = link_to revert_version_path(@version), class: 'btn btn-primary btn-sm btn-icon-split mr-2' do
                span.icon = fa_icon :undo
                span.text.d-none.d-lg-inline = t('schematics.application.button.revert')
      .card-body.p-0
        .table-responsive
          table.table.mb-0.table-striped
            tbody.table-bordered.border-0
              - @version.entity.renderable_elements.stable_sort_by(&:weight).each do |field|
                tr
                  th
                    = fa_icon field.icon, class: 'mr-2 text-muted'
                    = @version.model_class.human_attribute_name(field.name)
                  td
                    = render Schematics::Resource::Component.new(resource: @version.item, field: field)
