- breadcrumb title, versions_path
.row.g-0.align-items-center
  .col-lg
    .card.shadow-sm.animate__animated.animate__zoomIn
      .card-header.p-2
        .row.align-items-center
          .col.text-truncate.px-1
            = __card_heading(icon: @version.entity.icon, title: @previous_item)
          .col-auto
            = __button_revert(version: @version)
      .card-body.p-0
        = __resource_details(resource: @previous_item)
  .col-lg-1.my-3.mx-0.text-center
    = fa_icon :arrow_right, size: '4x', class: 'text-secondary d-none d-lg-inline-block'
    = fa_icon :arrow_down, size: '4x', class: 'text-secondary d-inline-block d-lg-none'
  .col-lg
    .card.shadow-sm.animate__animated.animate__zoomIn
      .card-header.p-2
        .row.align-items-center
          .col.text-truncate.px-1
            = __card_heading(icon: @version.entity.icon, title: @version.item)
      .card-body.p-0
        = __resource_details(resource: @version.item)
