.table-responsive
  table.table.mb-0
    = render Schematics::Filter::Component.new(model_class: klass)
    tbody
      table.table.mb-0.table-striped
        thead
          tr
            - date_range.slice(0, 7).each do |day|
              th.text-center = t('date.day_names')[day.wday]
        tbody class=('animate__animated animate__slideInRight' if params.dig(:filter, :start_at).present? && params.dig(:filter, :ends_at).present?)
          - date_range.each_slice(7) do |week|
            tr
              - week.each do |date|
                td class=td_classes_for(date)
                  .text-muted = date.day
                  - resources_for(date).each do |resource|
                    .alert.alert-secondary.text-truncate.mb-1
                      = link_to resource, resource
