.table-responsive data-controller='comparison' data-comparison-model-value=model_class
  table.table.table-borderless.mb-0
    = render Schematics::Filter::Component.new(model_class:)
    tbody
      table.table.table-borderless.mb-0
        thead
          tr
            - date_range.slice(0, 7).each do |day|
              th.text-center = t('date.day_names')[day.wday]
        tbody class=tbody_css_classes
          - date_range.each_slice(7) do |week|
            tr
              - week.each do |date|
                td.calendar-day.p-0 class=td_class_for(date)
                  .text-muted.ps-2.pt-1 = date.day
                  - resources_for(date).each do |resource|
                    = render Schematics::Viewer::ResourceLink::Component.new(resource:, css_classes: alert_css_classes_for(resource, date)) do |c|
                      - c.with_resource do
                        - unless previous_resource_for?(resource, date)
                          = render Schematics::Viewer::SwitchButtonGroup::Component.new(resource:, resources: @resources)
                          = render Schematics::Viewer::ActionButtonGroup::Component.new(resource:)
                        span.ms-2 = resource
