= link_to new_polymorphic_path([@model_class, Import]), class: 'btn btn-dark btn-sm btn-icon-split ml-2' do
  span.icon = fa_icon :cloud_upload_alt
  span.text.d-none.d-lg-inline = t('schematics.application.button.import', model_name:)
