= link_to new_polymorphic_path([model_class, Import], format: nil), data: { turbo_frame: '_top' }, class: css_classes do
  span.icon = fa_icon(icon)
  span.text.d-none.d-lg-inline = t('.text', human_name_plural:)
