= link_to new_polymorphic_path([@model_class, ::Import], format: nil), class: 'btn btn-sm btn-icon-split ms-2' do
  span.icon = fa_icon :cloud_upload_alt
  span.text.d-none.d-lg-inline = t('.text', human_name_plural:)
