- breadcrumb title, polymorphic_path(@resource)
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.px-2.py-1
    .row.align-items-center
      .col.text-truncate
        = render Schematics::CardHeading::Component.new(icon: :eye, title:)
      .col-auto
        = render Schematics::Button::GenerateFileInBackground::Component.pdf
        = render Schematics::Button::Comment::Component.new(resource: @resource)
        = render Schematics::Button::Edit::Component.new(resource: @resource, compact: false)
        = render Schematics::Viewer::EventButtonGroup::Component.new(resource: @resource, compact: false)
  .card-body
    .row.g-3
      .col-xl-9.col-md-12
        = render Schematics::Viewer::Schema::Component.new(schema: @resource.data)
      .col-xl-3.col-md-12
        = render Schematics::Viewer::Migrator::Component.new(resource: @resource)
= render Schematics::Viewer::Comments::Component.new(resource: @resource)
= render Schematics::Viewer::Timeline::Component.new(resource: @resource)
