template id="schema-editor-attribute-#{@constant.to_s.demodulize.underscore.dasherize}" data-nested-form-target='templates'
  = @form.simple_fields_for :entities, entity, child_index: 'INDEX' do |entity_builder|
    = entity_builder.simple_fields_for :attributes, @constant.new(entity:), child_index: 'NEW_RECORD' do |builder|
      = render Schematics::SchemaEditor::Attribute::Component.new(builder:)
