.btn.btn-primary.btn-sm.btn-icon-split.d-none data-comparison-target='button' data-action='click->comparison#submit'
  span.icon = fa_icon :balance_scale
  span.icon.d-none = fa_icon :spinner, animation: 'spin'
  span.text.d-none.d-lg-inline = t('schematics.application.button.compare')
  span.text.d-none = t('schematics.application.button.loading')
