button.btn.px-0.py-1.d-flex.d-none data-comparison-target='button' data-action='click->comparison#submit'
  span.icon.d-none.me-2 = fa_icon :spinner, animation: 'spin'
  span.text.d-lg-inline = title
  span.text.d-none = t('schematics.application.button.loading')
