= link_to restore_resource_path(resource), class: css_classes, title:, role:, data: do
  span.icon = fa_icon :trash_arrow_up, class: icon_class
  span.icon.d-none = fa_icon :spinner, class: icon_class, animation: 'spin'
