= link_to fa_icon(:trash_arrow_up),
          polymorphic_path(@resource, action: :restore),
          class: 'btn btn-danger btn-sm',
          title: t('.title'),
          data: { turbo_method: :delete, controller: 'tooltip', 'bs-toggle': 'tooltip', 'bs-placement': 'top' }
