.col-xl-6.col-md-12
  .card.shadow-sm.border-0
    .card-header.border-top-0.border-start-0.border-end-0.px-2.py-1
      = render Schematics::CardHeading::Component.new(icon:, title: @chart)
    .card-body.p-3
      = public_send type,
                    chart_path(@chart),
                    id: css_id,
                    xtitle:,
                    ytitle:,
                    suffix:,
                    nonce: content_security_policy_nonce,
                    download: { filename: },
                    dataset: { borderWidth: border_width }
