/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

figure.attachment class="attachment--#{blob.representable? ? 'preview' : 'file'} attachment--#{blob.filename.extension}"
  - if blob.representable?
    = image_tag blob.representation(resize_to_limit: local_assigns[:in_gallery] ? [800, 600] : [1024, 768])
  figcaption.attachment__caption
    - if (caption = blob.try(:caption))
      = caption
    - else
      span.attachment__name = blob.filename
      span.attachment__size = number_to_human_size(blob.byte_size)
