.d-flex.justify-content-center.text-white.mb-4.pb-4
  = render Schematics::Attachment::Component.company_logo(attachment: config(:company_logo), icon: :door_closed)
.card.shadow-sm.border-0.animate__animated.animate__zoomIn
  .card-header.border-top-0.border-start-0.border-end-0.px-2.py-1
    = render Schematics::CardHeading::Component.new(icon: :unlock, title:)
  .card-body.p-3
    = bootstrap_form_with model: @user, url: password_reset_path(params[:token]) do |form|
      = render Schematics::ResourceForm::Fields::Digest::Component.new(form:, confirm: true)
      = render Schematics::Button::Confirm::Component.new
      = render Schematics::Button::Cancel::Component.new(path: main_app.login_path)
