/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

.d-flex.justify-content-center.text-white.mb-4.pb-4
  = __attachment(:company_logo, icon: :door_closed)
.card.shadow-lg.animate__animated.animate__zoomIn
  .card-header.px-1.py-2
    = __card_heading(icon: :unlock, title:)
  .card-body.p-3.pt-1
    = bootstrap_form_with model: @user, url: password_reset_path(params[:token]) do |form|
      = __resource_form_fields_digest(form:, confirm: true)
      = __button_confirm
      = __button_cancel(path: main_app.login_path)
