.card.shadow-lg
  .card-header
    h5.m-0.text-primary.font-weight-bold
      = fa_icon :key, class: "mr-2"
      | Mot de passe oublié
  .card-body
    = form_tag password_resets_path, method: :post do
      .form-group
        = label_tag :email
        = email_field_tag :email, params[:email], required: true, class: "form-control bg-light border-0"
      = button_tag class: "btn btn-primary btn-icon-split mr-2" do
        span.icon= fa_icon :check
        span.text Valider
      = link_to login_path, class: "btn btn-danger btn-icon-split" do
        span.icon= fa_icon :times
        span.text Annuler
