.d-flex.justify-content-center.text-white.mb-4.pb-4
  = __attachment(:company_logo, icon: :door_closed)
.card.shadow-lg.animate__animated.animate__zoomIn
  .card-header.px-1.py-2
    = __card_heading(icon: :key, title:)
  .card-body.p-3.pt-1
    = __password_reset_form
