swagger: '2.0'
info:
  title: <%= Rails.application.class.module_parent_name %> App
  description: Developper API documentation.
  termsOfService: 'http://open-api.io/terms/'
  contact:
    name: API Support
    url: 'http://www.open-api.io/support'
    email: support@open-api.io
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: <%= Schematics::VERSION %>
host: 'localhost:3000'
schemes:
  - http
  - https
consumes:
  - application/json
produces:
  - application/json
