name: Build
on: [push]
jobs:
  brakeman:
    name: Brakeman
    runs:
      using: docker
      image: docker://presidentbeef/brakeman
      args:
        - --no-pager 
        - --no-exit-on-error
  bundler_audit:
    name: Bundler audit
    runs:
      using: docker
      image: docker://sebanpl/bundler-audit
