.row.g-3
  - entities.each do |entity|
    .col-xl-2.col-md-4
      .card.shadow-sm.border-0.animate__animated.animate__zoomIn
        .card-header.border-top-0.border-start-0.border-end-0.px-2.py-1
          = render Schematics::CardHeading::Component.new(icon: entity.icon, title: entity.name)
        .card-body.p-3
          - entity.fields.each do |field|
            div
              = fa_icon field.icon, class: 'fa-fw me-1'
              = field.name
          - entity.triggers.each do |trigger|
            div
              = fa_icon :atom, class: 'fa-fw me-1'
              = trigger.action
          - entity.has_and_belongs_to_many_associations.each do |association|
            div
              = fa_icon :link, class: 'fa-fw me-1'
              = association.name
