.col-xl-4.col-md-6.schema-editor-virtual
  .text-center.mb-2
    = fa_icon icon, size: '2x', class: 'text-primary'
  = @builder.input :name
  = @builder.input :function
  = render Schematics::SchemaEditor::Button::Remove::Component.new(wrapper: '.schema-editor-virtual')
  = render Schematics::SchemaEditor::Options::Component.new(builder: @builder)
