/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

li.nav-item.text-center.mw-100.mb-2
  = link_to path, class: css_classes, title:, data: do
    = fa_icon icon, size: '2x'
    .mt-2.mx-3.d-none.text-truncate class=toggled_class = human_name_plural.humanize
= __sidebar_segment(enum_attributes, model_class: @model_class)
li.nav-item.mb-2
