.modal.fade {
  id=target
  data-controller='modal'
  data-bs-backdrop='static'
  data-bs-keyboard='false'
  aria-hidden='true'
  aria-labelledby=label
  tabindex='-1'
}
  .modal-dialog.modal-dialog-centered.modal-sm
    .modal-content.border-0.shadow-sm
      .modal-header
        h5.modal-title.text-primary id=label
          = t('schematics.application.delete.title')
        button.btn-close aria-label='Close' data-bs-dismiss='modal' type='button'
      .modal-body.text-center
        = fa_icon :triangle_exclamation, size: '2x', class: 'text-danger'
        .pt-2 = text
      .modal-footer
        = render Schematics::Button::Confirm::Component.new
        = render Schematics::Button::Cancel::Component.new(data: { 'bs-dismiss': 'modal' })
