/.git
/.gitignore
/config/credentials/development*
/config/credentials/test*
/config/brakeman.ignore
/config/i18n-tasks.yml
/config/active_record_doctor.rb
/config/ci.rb
/config/environments/development.rb
/config/environments/test.rb
/log
/tmp
/storage
/node_modules
/doc
/.github
/.dockerignore
/Dockerfile*
/docker
/CHANGELOG.md
/README.md
/db/schema.rb
/db/search_schema.rb
/db/migrate/20*
/coverage
/spec
/bin/ci
/bin/dev
/bin/importmap
/public/assets
