/log/**/*.log
/pkg
/spec/demo
/coverage
/config/credentials/development.key
/config/credentials/test.key
/config/credentials/production.key
/config/credentials/on_premise.key
/node_modules
/Gemfile.lock
/schematics-*.gem
/vendor
/tmp
/doc
/.yardoc
