.modal id="diffModal-#{id}" class=('fade' unless test?) aria-hidden="true" aria-labelledby="diffModalTitle" role="dialog" tabindex="-1"
  .modal-dialog.modal-dialog-centered.modal-lg role="document"
    .modal-content.shadow-sm
      .modal-header.bg-primary
        h5#diffModalTitle.m-0.text-white.text-truncate.font-weight-bold
          = fa_icon :not_equal, class: "mr-3 ml-2"
          = I18n.t('.title')
      .modal-body.p-0
        .table-responsive
          table.table.mb-0.table-striped
            tbody.table-bordered.border-0
              - entity.renderable_elements.sort_by(&:weight).each do |field|
                tr
                  th
                    = fa_icon field.icon, class: "mr-2 text-muted"
                    = model_class.human_attribute_name(field.name)
                  td
                    = cell('schematics/resource', reify, field: field).()
                  td
                    = cell('schematics/resource', new_version, field: field).()
      .modal-footer.bg-light.justify-content-start
        = button_tag data: { dismiss: "modal" },
                     class: "btn btn-danger btn-sm btn-icon-split" do
                       span.icon= fa_icon :times
                       span.text= t('schematics.application.form.buttons.cancel')
