.min-vh-100.bg-primary
  .container.my-4
    .text-center.my-4
      - if setting(:company_logo).attached?
        = image_tag main_app.url_for setting(:company_logo).representation(resize_to_fit: [300, 150])
    .card.my-4
      .card-body
        p= t('.body.first')
        = link_to t('.body.link'), new_password_url(@user.password_reset_token), class: "py-3"
        p= t('.body.second')
