= render Schematics::ResourceForm::Fields::HasMany::Button::Add::Component.new(field:)
= render Schematics::ResourceForm::Fields::HasMany::Template::Component.new(form:, field:)
div id=id data-nested-form-target='targets'
  = form.fields_for name do |form|
    = field_set_tag human_name.humanize do
      - elements.each do |field|
        = render Schematics::ResourceForm::Fields::Component.new(form:, field:)
