.position-relative
  = link_to render(Schematics::Attachment::Component.avatar(user: @user, title:)), @user
  .badge.rounded-circle.animate__animated.animate__zoomIn.d-block.p-1.border.border-white.position-absolute.top-0.end-0 class=badge_css_class
