= public_send field_tag,
              filter_name,
              value,
              placeholder: t(".placeholder.#{@comparison}"),
              onchange:,
              class: css_classes
- if unit.present?
  .input-group-append
    .input-group-text.border-0.bg-transparent.p-0.pl-2
      = unit
