.sidebar {
  box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, .6); // scss-lint:disable ColorVariable
  flex: 0 0 12rem;
  max-width: 12rem;
  transition: ease-in-out .3s;

  &.toggled {
    flex: 0 0 6rem;
    max-width: 6rem;
  }

  &:hover,
  .segment {
    background: var(--bs-primary-darken) !important;
    box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, .6); // scss-lint:disable ColorVariable
  }

  .sidebar-brand {
    height: 3.5rem;
    letter-spacing: .05rem;
    line-height: 3.5rem;
  }

  .nav-link.active,
  .nav-link:hover {
    color: var(--bs-white) !important;

    span:not(.badge) {
      color: var(--bs-white) !important;
    }

    .badge {
      background: var(--bs-white) !important;
    }
  }
}

.sidebar-sticky {
  ul.nav {
    height: calc(100vh - 50px - 3.5rem);
  }

  #sidebar-toggle { // scss-lint:disable IdSelector
    height: 50px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    flex: 0 0 6rem;
    max-width: 6rem;
  }

  #sidebar-toggle { // scss-lint:disable IdSelector
    display: none;
  }
}

@media (min-width: 768px) {
  .sidebar:not(.toggled) {
    .tooltip {
      display: none;
    }
  }
}
