/*
 * Copyright © 2025 Dev & Software. All rights reserved.
 *
 * THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
 * REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
 * NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
 * NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
 * LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.
 */

.sidebar {
  flex: 0 0 12rem;
  max-width: 12rem;
  transition: ease-in-out .3s;

  &.toggled {
    flex: 0 0 6rem;
    max-width: 6rem;
  }

  .sidebar-brand {
    height: 3.5rem;
    letter-spacing: .05rem;
    line-height: 3.5rem;
  }

  .nav-link.active,
  .nav-link:hover {
    color: var(--bs-white) !important;

    span:not(.badge) {
      color: var(--bs-white) !important;
    }

    .badge {
      background: var(--bs-white) !important;
    }
  }

  .nav-link > div::first-letter {
    font-weight: bold;
  }
}

.sidebar-sticky {
  ul.nav {
    height: calc(100vh - 50px - 3.5rem);
  }

  #sidebar-toggle {
    height: 50px;
  }
}

@media (width <= 768px) {
  .sidebar {
    flex: 0 0 6rem;
    max-width: 6rem;
  }

  #sidebar-toggle {
    display: none;
  }
}

@media (width > 768px) {
  .sidebar:not(.toggled) {
    .tooltip {
      display: none;
    }
  }
}
