.col.bg-primary.sidebar data-controller='sidebar' class=('toggled' if toggled?)
  .sidebar-sticky.sticky-top
    .sidebar-brand.fs-5.fw-bolder.text-uppercase.d-flex.align-items-center.text-white.text-nowrap.justify-content-center
      = config(:company_name)
    ul.nav.flex-column.flex-nowrap
      li.nav-item.mb-3
      - entities.each do |entity|
        - model_class = entity.model_class
        li.nav-item.text-center.mw-100.mb-2
          = active_link_to polymorphic_path(model_class),
            class: 'nav-link p-0 m-0 text-secondary text-nowrap',
            title: model_class.human_name_plural.humanize,
            data: data.merge('hotkey-shortcut-value': "Control+#{model_class.human_name.first}") do
            = fa_icon entity.icon, size: '2x'
            .mt-2.d-none class=('d-md-block' unless toggled?) = model_class.human_name_plural.humanize
        - if !entity.is_a?(Schematics::Entities::Singleton) && is_active_link?(polymorphic_path(model_class))
          - entity.enum_attributes.each do |attribute|
            li.nav-item.text-center.mw-100.mb-2.px-3.d-none class=('d-md-block' unless toggled?)
              ul.list-group
                - attribute.values.each do |value|
                  = active_link_to polymorphic_path(model_class, filter: { attribute.name => value }),
                                  active: :exact,
                                  class: 'nav-link p-0 m-0 text-truncate' do
                    li.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center.px-2.py-1.border-0.bg-transparent
                      span.text-secondary.text-truncate = attribute.format(value)
                      span.badge.bg-secondary.text-primary.ms-2 = model_class.public_send(:"#{attribute.name}_#{value}").size
        li.nav-item.mb-2
    button#sidebar-toggle.btn.text-secondary.border-0.text-end.py-3.w-100 data-action='click->sidebar#toggle'
      .d-none.me-3 class=('d-md-block' unless toggled?) = fa_icon :chevron_left, class: 'fa-lg'
      .d-none.me-3 class=('d-md-block' if toggled?) = fa_icon :chevron_right, class: 'fa-lg'
