.sidebar {
  flex: 0 0 14rem;
  max-width: 14rem;
  transition: ease-in-out .3s;
  z-index: 3;

  &.toggled {
    flex: 0 0 6rem;
    max-width: 6rem;
  }

  .sidebar-brand {
    font-size: 1rem;
    font-weight: 800;
    height: 3.5rem;
    letter-spacing: .05rem;
    line-height: 3.5rem;
    text-transform: uppercase;
  }

  .nav-link.active {
    color: #fff !important;

    .badge {
      background: #fff !important;
    }
  }
}

.sidebar-sticky {
  overflow-x: hidden;
  overflow-y: auto;
  position: sticky;
  top: 0;

  ul.nav {
    height: calc(100vh - 50px - 3.5rem);
    overflow-y: auto;
  }

  #sidebar-toggle { // scss-lint:disable IdSelector
    height: 50px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    flex: 0 0 6rem;
    max-width: 6rem;
  }

  #sidebar-toggle { // scss-lint:disable IdSelector
    display: none;
  }
}
