.sidebar-sticky data-controller='sidebar'
  .sidebar-brand.d-flex.align-items-center.text-white.text-nowrap.justify-content-center
    = setting(:company_name)
  ul.nav.nav-light.flex-column.flex-nowrap
    li.nav-item.mb-3
    - entities.sort_by(&:name).each do |entity|
      - model_class = entity.class_name.constantize
      - next if cannot?(:index, model_class)
      li.nav-item.text-center.mw-100.mb-2
        = active_link_to polymorphic_path(model_class),
          class: 'nav-link p-0 m-0 text-secondary text-nowrap' do
          = fa_icon entity.icon, size: '2x'
          .mt-2.d-none class=('d-md-block' unless toggled?) = model_class.model_name.human.pluralize
      - if !entity.is_a?(Schematics::Entities::Singleton) && is_active_link?(polymorphic_path(model_class))
        - entity.enum_attributes.each do |attribute|
          li.nav-item.text-center.mw-100.mb-2.px-3.d-none class=('d-md-block' unless toggled?)
            ul.list-group
              - attribute.values.each do |value| # rubocop:disable Style/HashEachMethods
                = active_link_to polymorphic_path(model_class, filter: { attribute.name => value }),
                                active: :exact,
                                class: 'nav-link p-0 m-0 text-secondary text-truncate segment' do
                  li.list-group-item.d-flex.justify-content-between.align-items-center.px-2.py-1.border-0.bg-primary
                    span = attribute.format(value)
                    span.badge.badge-secondary.text-primary = model_class.send(:"#{attribute.name}_#{value}").size
      li.nav-item.mb-2
  button#sidebar-toggle.btn.btn-block.text-secondary.border-0.text-right.py-3 data-action='click->sidebar#toggle'
    .d-none.mr-3 class=('d-md-block' unless toggled?) = fa_icon :chevron_left, class: 'fa-lg'
    .d-none.mr-3 class=('d-md-block' if toggled?) = fa_icon :chevron_right, class: 'fa-lg'
