li.nav-item.d-flex.align-items-center.px-3.border-start.border-light data-controller='switch-theme'
  a.nav-link.switch-theme.dark {
    role='button'
    data-action='click->switch-theme#switchTheme'
    data-switch-theme-theme-param='dark'
  }
    = fa_icon :moon, class: 'fa-lg'
  a.nav-link.switch-theme.light {
    role='button'
    data-action='click->switch-theme#switchTheme'
    data-switch-theme-theme-param='light'
  }
    = fa_icon :lightbulb, class: 'fa-lg'
