/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

li.nav-item.d-flex.align-items-center.px-2.ms-2.bg-body-secondary.rounded.btn-transparent data-controller='switch-theme'
  a.nav-link.switch-theme.dark {
    role='button'
    data-action='click->switch-theme#switchTheme:stop'
    data-switch-theme-theme-param='dark'
  }
    = fa_icon :moon, class: 'fa-lg'
  a.nav-link.switch-theme.light {
    role='button'
    data-action='click->switch-theme#switchTheme:stop'
    data-switch-theme-theme-param='light'
  }
    = fa_icon :lightbulb, class: 'fa-lg'
