.dropdown-item
  .row {
    data-action='click->application#visit'
    data-application-href-param=href
    role='button'
  }
    .col-auto.align-self-center
      = render Schematics::Avatar::Component.new(user: applicant)
    .col.text-truncate
      = title
      .text-muted data-controller='timeago' datetime=deadline class=timeago_css_class
