button.btn.btn-sm.btn-primary.btn-icon-split.ms-1.schema-editor.collapse.collapse-horizontal.show {
  data-bs-toggle='collapse'
  data-bs-target='.resource-form'
}
  span.icon = fa_icon(icon)
  span.text.text-nowrap.d-none.d-lg-inline = title
