button.btn.btn-sm.btn-icon-split.mb-3 {
  data-action='click->nested-form#add:prevent'
  data-nested-form-template-id-param=id
  data-nested-form-target-id-param='nested-associations'
}
  span.icon = fa_icon :plus
  span.text = t('schematics.application.button.add', human_name:, gender:)
