.form-check.form-switch
  = checkbox 'user[preferences]', preference, { class: 'form-check-input', checked: checked? }, 'true', 'false'
  = label_tag preference, '', class: 'form-check-label', for: "user_preferences_#{preference}"
