= fa_icon :database, size: '6x'
h4.mt-4 = t('schematics.application.resource.empty')
- if @suggestions.any?
  h5.mt-2
    = t('.did_you_mean')
    - @suggestions.each do |suggestion|
      = link_to suggestion, search_path(suggestion), class: 'ml-1 font-weight-bold'
