= link_to polymorphic_path(@resource), method: :delete, data:, class: css_classes do
  span.icon = fa_icon :trash
  span.text.d-none.d-lg-inline = t('schematics.application.button.destroy') unless compact?
