.dropdown-item
  .row {
    data-action='click->application#visit'
    data-application-href-param=href
    role='button'
  }
    .col-auto.align-self-center
      = render Schematics::Avatar::Component.new(user: creator)
    .col.text-truncate
      = subject
      .text-body-secondary
        span data-controller='timeago' datetime=start_at
        - if location
          span.mx-1 -
          span = location
