.table-responsive
  table.table.mb-0 class=(%w[table-striped table-hover] if @resources.any?)
    = render Schematics::Filter::Component.new(model_class: klass)
    tbody class=('table-bordered border-0' if @resources.any?) class=('animate__animated animate__slideInRight' if params[:page].present?)
      - if @resources.empty?
        tr
          td.text-center.pt-4 colspan='100%'
            = render Schematics::EmptyResource::Component.new
      - else
        - @resources.each do |resource|
          tr class=('disabled' if resource.deleted?) data-href=(polymorphic_path(resource) unless resource.deleted?)
            td.text-nowrap.text-center
              .btn-group.enabled
                - if resource.deleted?
                  - if can?(:restore, resource)
                    = link_to fa_icon(:trash_restore),
                      polymorphic_path(resource, action: :restore),
                      method: :delete,
                      class: 'btn btn-danger btn-sm',
                      data: { toggle: 'tooltip', placement: 'top', title: t('schematics.application.button.tooltip.restore') }
                - else
                  - if can?(:update, resource)
                    = link_to edit_polymorphic_path(resource),
                      class: 'btn btn-primary btn-sm',
                      data: { toggle: 'tooltip', placement: 'top', title: t('schematics.application.button.tooltip.edit') } do
                      = fa_icon :edit
                  - if can?(:archive, resource)
                    = link_to fa_icon(:archive),
                      polymorphic_path(resource, action: :archive),
                      method: :delete,
                      class: 'btn btn-danger btn-sm',
                      data: { toggle: 'tooltip', placement: 'top', title: t('schematics.application.button.tooltip.archive') }
            - entity.listable_elements.stable_sort_by(&:weight).each do |field|
              td.text-nowrap.text-center.align-middle class=('font-weight-bold' if resource.read_at.nil?)
                = render Schematics::Resource::Component.new(resource: resource, field: field, editable: true)
