= link_to url, class: 'text-decoration-none' do
  - if object
    .row.g-2.align-items-center
      .col-auto.text-center
        = image_tag favicon, class: 'favicon'
      .col
        = title
        .text-body-secondary = description
  - else
    = url
