.col-xl-4.col-md-6.schema-editor-trigger
  .text-center.mb-2
    = fa_icon icon, size: '2x', class: 'text-primary'
  = @builder.input :action,
                   as: :select,
                   collection:,
                   include_blank: false,
                   input_html: { data: { controller: 'dropdown' } }
  = @builder.input :callback
  = render Schematics::SchemaEditor::Button::Remove::Component.new(wrapper: '.schema-editor-trigger')
