.col-xl-2.col-md-4.schema-editor-trigger
  .card.border-0.animate__animated.animate__zoomIn
    .card-body
      .text-center.mb-2
        = fa_icon icon, size: '2x', class: 'text-primary'
      = @builder.input :action,
                       as: :select,
                       collection:,
                       include_blank: false,
                       input_html: { data: { controller: 'dropdown' } }
      = @builder.input :callback
      = render Schematics::SchemaEditor::Button::Remove::Component.new(wrapper: '.schema-editor-trigger')
