.col-xl-6.col-md-12.schema-editor-trigger.cursor-grab
  .card.shadow-sm
    .card-header.px-2.py-1
      .row.align-items-center
        .col.text-truncate
          = component :card_heading, icon:, title:
        .col-auto
          = component 'schema_editor/button/remove', wrapper: '.schema-editor-trigger'
    .card-body
      = builder.select :action, collection, { prompt: }, { required: true, data: { controller: 'dropdown' } }
      = builder.text_field :callback, data:
