li.nav-item.dropdown.no-arrow.d-flex.align-items-center.pr-3
  a#notificationsDropdown.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
    = fa_icon :bell, class: "fa-lg"
    .badge.badge-danger= versions.size if versions.any?
  .dropdown-menu.dropdown-menu-right.animated.zoomIn.shadow-sm.p-0 aria-labelledby="notificationsDropdown" 
    h5.dropdown-header.font-weight-bold.bg-light= I18n.t('.notification_center')
    - versions.each do |version|
      .dropdown-item.d-flex.align-items-center
        = cell('schematics/timeline/version', version).()
    .dropdown-divider
    = link_to I18n.t('.show_all'), timeline_path, class: "dropdown-item text-muted small"
