- breadcrumb title, schematics.edit_preferences_path
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.px-2.py-1
    = component :card_heading, icon: :bell, title:
  .card-body.p-0
    = component :preferences_table
