- breadcrumb title, edit_preferences_path
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.px-1.py-2
    = __card_heading(icon: :bell, title:)
  .card-body.p-0
    = __preferences_table
