class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :<%= table_name %><%= primary_key_type %> do |t|
<% attributes.each do |attribute| -%>
<% if attribute.reference? -%>
      t.<%= attribute.type %> :<%= attribute.name %><%= attribute.inject_options %><%= foreign_key_type %>
<% else -%>
      t.<%= attribute.type %> :<%= attribute.column_name %><%= attribute.inject_options %>
<% end -%>
<% end -%>
<% if options[:timestamps] %>
      t.timestamps
<% end -%>
<% attributes_with_index.each do |attribute| -%>
      t.index :<%= attribute.index_name %><%= attribute.inject_index_options %>
<% end -%>
    end
  end
end
