- breadcrumb title, polymorphic_path(@resource)
.card.shadow-sm.border-0.animate__animated.animate__zoomIn
  .card-header.border-top-0.border-start-0.border-end-0.px-2.py-1
    = render Schematics::CardHeading::Component.new(icon: :eye, title:)
  .card-body.px-2.pb-1.pt-3
    #swagger-ui data-controller='swagger'
