<% if https? %>
server {
  server_name <%= app_name %>.back-office.pro;
  listen 80;
  listen [::]:80;

  location / {
    return 301 https://<%= app_name %>.back-office.pro$request_uri;
  }
}

server {
  server_name <%= app_name %>.back-office.pro;
  listen [::]:443 ssl;
  listen 443 ssl;

  location / {
    return 301 https://www.<%= app_name %>.back-office.pro$request_uri;
  }

  ssl_certificate /etc/letsencrypt/live/back-office.pro/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/back-office.pro/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}
<% else %>
server {
  server_name <%= app_name %>.back-office.pro;
  listen 80;
  listen [::]:80;

  location / {
    proxy_pass http://localhost:<%= port %>;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }
}
<% end %>
