= link_to path, data: { turbo_frame: '_top' }, class: css_classes do
  span.icon = fa_icon :plus
  span.text.text-nowrap.d-none.d-lg-inline = t('schematics.application.button.add', human_name:, gender:)
