= link_to new_polymorphic_path(@model_class), class: 'btn btn-primary btn-sm btn-icon-split ms-2' do
  span.icon = fa_icon :plus
  span.text.d-none.d-lg-inline = t('schematics.application.button.add', human_name:, gender:)
