li.nav-item.dropdown.no-arrow.d-flex.align-items-center.px-3.border-left.border-light
  a.nav-link.switch-theme.dark role="button"
    = fa_icon :moon, class: "fa-lg"
  a.nav-link.switch-theme.light role="button"
    = fa_icon :lightbulb, class: "fa-lg"
