li.nav-item.align-items-center.px-3.border-left.border-light.d-none.d-md-flex data-controller='switchTheme'
  a.nav-link.switch-theme.dark role='button' data-action='click->switchTheme#darkTheme'
    = fa_icon :moon, class: 'fa-lg'
  a.nav-link.switch-theme.light role='button' data-action='click->switchTheme#lightTheme'
    = fa_icon :lightbulb, class: 'fa-lg'
