= fa_icon :database, size: '6x'
h4.mt-4= t('schematics.application.empty.title')
- if model&.any?
  h5.mt-2
    = t('schematics.application.empty.did_you_mean')
    - model.each do |suggestion|
      = link_to suggestion, search_path(suggestion), class: "ml-1 text-success font-italic font-weight-bold"
