template id=id data-nested-form-target='templates'
  div class=css_class
    = form.fields_for name, model_class.new, child_index: 'NEW_RECORD' do |form|
      - elements.each do |field|
        = render Schematics::ResourceForm::Fields::Component.new(form:, field:)
    = render Schematics::ResourceForm::Button::Remove::Component.new(field:)
