.dropdown-item
  .row {
    data-action='click->application#visit'
    data-application-href-param=href
    role='button'
  }
    .col-auto.align-self-center
      
    .col.text-truncate
      = record
