= bootstrap_form_for resource, url:, data:, layout: do |f|
  = f.hidden_field :lock_version
  - attributes.stable_sort_by(&:weight).each do |field|
    = turbo_frame_tag dom_id(resource, field.name) do
      - case field
      - when Schematics::Associations::HasAndBelongsToMany
        = f.select field.name.to_sym,
                   [],
                   prepend: fa_icon(field.icon),
                   data: { controller: 'dropdown' }
      - when Schematics::Attributes::BelongsTo
        = f.select field.name.to_sym,
                   field.model_class.all.map { [_1.to_s, _1.id] }.sort,
                   { prepend: fa_icon(field.icon) },
                   { placeholder: t('prompt', gender: field.model_class.gender, attribute_name: human_attribute_name(field.name).downcase), data: { controller: 'dropdown' } }
      - when Schematics::Attributes::Datetime
        = f.datetime_field field.name.to_sym, hide_label:
      - when Schematics::Attributes::Date
        = f.date_field field.name.to_sym, hide_label:
      - when Schematics::Attributes::Array
        = f.text_field field.name.to_sym, multiple: true, prepend: fa_icon(field.icon)
      - when Schematics::Attributes::Address
        = f.select field.name.to_sym,
                   [resource.public_send(field.name.to_sym)].compact,
                   prepend: fa_icon(field.icon),
                   hide_label:,
                   autocomplete: 'new-address',
                   data: { controller: 'dropdowns--address-autocomplete-dropdown' }
      - when Schematics::Attributes::Email
        = f.email_field field.name.to_sym, prepend: fa_icon(field.icon), hide_label:
      - when Schematics::Attributes::Url
        = f.url_field field.name.to_sym, prepend: fa_icon(field.icon), hide_label:
      - when Schematics::Attributes::Phone
        = f.telephone_field field.name.to_sym, prepend: fa_icon(field.icon), hide_label:
      - when Schematics::Attributes::Country
        = f.select field.name.to_sym,
                   field.collection,
                           prompt: t('prompt', gender: :male, attribute_name: human_attribute_name(field.name).downcase),
                           prepend: fa_icon(field.icon),
                           hide_label:,
                           data: { controller: 'dropdown' }
      - when Schematics::Attributes::TimeZone
        = f.select field.name.to_sym,
                   field.collection,
                   { prepend: fa_icon(field.icon), hide_label: },
                   { placeholder: t('prompt', gender: :male, attribute_name: human_attribute_name(field.name).downcase), data: { controller: 'dropdown' } }
      - when Schematics::Attributes::Color
        = f.color_field field.name.to_sym, prepend: fa_icon(field.icon), hide_label:
      - when Schematics::Attributes::ModelField
        = f.select field.name.to_sym,
                   field.collection.map { _1.push(class: model_field_collection_class(_1.second, field)) },
                   prompt: t('prompt', attribute_name: human_attribute_name(field.name).downcase),
                   prepend: fa_icon(field.icon),
                   hide_label:,
                   data: { controller: 'dropdown', 'dropdown-depends-on': "#{entity.name}[#{field.depends_on}]" }
      - when Schematics::Attributes::String
        = f.text_field field.name.to_sym, prepend: fa_icon(field.icon), hide_label:
      - when Schematics::Attributes::Text
        = f.text_area field.name.to_sym, prepend: fa_icon(field.icon), hide_label:, data: { controller: 'autosize' }
      - when Schematics::Attributes::Rating
        = f.range_field field.name.to_sym, step: 0.5, min: 0, max: 5, prepend: fa_icon(field.icon), hide_label:
      - when Schematics::Attributes::RichText
        = f.rich_text_area field.name.to_sym, data: { controller: 'mentions' }
      - when Schematics::Attributes::Attachments
        = f.file_field field.name.to_sym,
                       help: render(Schematics::AttachmentValidators::Component.new(validators: field.validators)),
                       multiple: true,
                       include_hidden: false,
                       accept: field.extensions
      - when Schematics::Attributes::Attachment
        - attachment = resource.public_send(field.name.to_sym)
        - if attachment.attached?
          = f.fields_for field.attributes_param_key do |fields|
            = fields.hidden_field :id, value: attachment.id
            = fields.check_box :_destroy,
                               switch: true,
                               label: t('helpers.label.destroy'),
                               wrapper_class: 'text-secondary float-end'
        = f.file_field field.name.to_sym,
                       help: render(Schematics::AttachmentValidators::Component.new(validators: field.validators)),
                       accept: field.extensions
      - when Schematics::Attributes::Digest
        = render Schematics::Input::Password::Component.new(form: f, field:, autocomplete: false)
      - when Schematics::Attributes::Boolean
        = f.check_box field.name.to_sym, switch: true, hide_label:
      - when Schematics::Behaviours::Numerable
        = f.number_field field.name.to_sym, step: :any, prepend: field.unit || fa_icon(field.icon), hide_label:
      - when Schematics::Behaviours::Enumerable
        = f.select field.name.to_sym,
                   field.collection,
                   prompt: t('prompt', attribute_name: human_attribute_name(field.name).downcase),
                   prepend: fa_icon(field.icon),
                   hide_label:,
                   data: { controller: 'dropdown' }
      = render Schematics::Button::Confirm::Component.new(compact: true) if turbo?
      = render Schematics::Button::Cancel::Component.new(path: cancel_path, compact: true) if turbo?
  = render Schematics::Button::Confirm::Component.new
  = render Schematics::Button::Cancel::Component.new(path: cancel_path)
