= simple_form_for @resource, url: @url, wrapper: :input_group, validate: true do |f|
  = f.input :lock_version, as: :hidden, wrapper: false
  - @attributes.stable_sort_by(&:weight).each do |field|
    - case field
    - when Schematics::Associations::HasAndBelongsToMany
      = f.association field.name.to_sym, prepend: fa_icon(field.icon)
    - when Schematics::Attributes::BelongsTo
      = f.association field.name.to_sym,
                      prompt: t('prompt', gender: field.model_class.gender, attribute_name: human_attribute_name(field.name).downcase),
                      include_blank: !field.required?,
                      collection: field.input_collection.map(&:reverse),
                      prepend: fa_icon(field.icon)
    - when Schematics::Attributes::Date
      = f.input field.name.to_sym,
                as: :date,
                html5: true,
                wrapper: :input_group
    - when Schematics::Attributes::Array
      = f.input field.name.to_sym,
                input_html: { multiple: true },
                prepend: fa_icon(field.icon)
    - when Schematics::Attributes::Address
      = f.input field.name.to_sym,
                collection: [@resource.public_send(field.name.to_sym)].compact,
                include_blank: !field.required?,
                minlength: 3,
                prepend: fa_icon(field.icon),
                input_html: { class: 'address_autocomplete' }
    - when Schematics::Attributes::Email, Schematics::Attributes::Url, Schematics::Attributes::Phone
      = f.input field.name.to_sym,
                as: field.class.name.demodulize.underscore,
                maxlength: true,
                minlength: true,
                pattern: true,
                prepend: fa_icon(field.icon)
    - when Schematics::Attributes::Country
      = f.input field.name.to_sym,
                as: :country,
                prompt: t('prompt', gender: :male, attribute_name: human_attribute_name(field.name).downcase),
                include_blank: !field.required?,
                prepend: fa_icon(field.icon)
    - when Schematics::Attributes::TimeZone
      = f.input field.name.to_sym,
                as: :time_zone,
                prompt: t('prompt', gender: :male, attribute_name: human_attribute_name(field.name).downcase),
                include_blank: !field.required?,
                prepend: fa_icon(field.icon)
    - when Schematics::Attributes::Color
      = f.input field.name.to_sym, as: :color, prepend: fa_icon(field.icon)
    - when Schematics::Attributes::ModelField
      = f.input field.name.to_sym,
                prompt: t('prompt', attribute_name: human_attribute_name(field.name).downcase),
                include_blank: false,
                collection: field.input_collection.map(&:reverse).map { _1.push(class: model_field_collection_class(_1.second, field)) },
                prepend: fa_icon(field.icon),
                input_html: { data: { 'depends-on': "#{entity.name}[#{field.depends_on}]" } }
    - when Schematics::Behaviours::Enumerable
      = f.input field.name.to_sym,
                prompt: t('prompt', attribute_name: human_attribute_name(field.name).downcase),
                include_blank: false,
                collection: field.input_collection.map(&:reverse),
                prepend: fa_icon(field.icon)
    - when Schematics::Attributes::String
      = f.input field.name.to_sym,
                maxlength: true,
                minlength: true,
                pattern: true,
                prepend: fa_icon(field.icon)
    - when Schematics::Attributes::Decimal
      = f.input field.name.to_sym, min_max: true, prepend: field.unit || fa_icon(field.icon)
    - when Schematics::Attributes::RichText
      = f.input field.name.to_sym, as: :rich_text_area
    - when Schematics::Attributes::Attachments
      - hint = render Schematics::AttachmentValidators::Component.new(validators: field.validators)
      = f.input field.name.to_sym,
                as: :file,
                validate: { presence: field.required? && new_record? },
                hint:,
                input_html: { multiple: true, accept: field.extensions }
    - when Schematics::Attributes::Attachment
      - hint = render Schematics::AttachmentValidators::Component.new(validators: field.validators)
      - attachment = @resource.public_send(field.name.to_sym)
      - if attachment.attached?
        = f.simple_fields_for field.attributes_param_key do |fields|
          = fields.hidden_field :id, value: attachment.id
          = fields.input :_destroy,
                         as: :boolean,
                         wrapper_html: { class: 'float-end m-0 text-secondary' }
      = f.input field.name.to_sym,
                as: :file,
                validate: { presence: field.required? && new_record? },
                hint:,
                input_html: { accept: field.extensions }
    - when Schematics::Attributes::Digest
      = render Schematics::Input::Password::Component.new(form: f, field:, autocomplete: false)
    - when Schematics::Attributes::Boolean
      = f.input field.name.to_sym
    - else
      = f.input field.name.to_sym, prepend: field.try(:unit) || fa_icon(field.icon)
  = render Schematics::Button::Confirm::Component.new
  = render Schematics::Button::Cancel::Component.new(path: @cancel_path)
