= bootstrap_form_with model: resource, url:, data:, layout: do |form|
  = form.hidden_field :lock_version
  - attributes.stable_sort_by(&:weight).each do |field|
    = turbo_frame_tag dom_id(resource, field.name) do
      div class=wrapper_class
        = component('resource_form/fields', form:, field:)
        = component('button/confirm', compact: true) if turbo?
        = component('button/cancel', path: cancel_path, compact: true) if turbo?
  = component 'button/confirm'
  = component 'button/cancel', path: cancel_path
