doctype xml
urlset xmlns='http://www.sitemaps.org/schemas/sitemap/0.9'
  url
    loc = root_url
    lastmod = @articles.last&.updated_at&.xmlschema
  - @articles.find_each do |article|
    url
      loc = main_app.article_url(article)
      lastmod = article.updated_at.xmlschema
