- breadcrumb title, resource_path(@resource)
- if @results.empty?
  .card.shadow-sm.mb-3.animate__animated.animate__zoomIn
    .card-header.px-1.py-2
      = __card_heading(icon: :magnifying_glass, title:)
    .card-body.p-3.pt-1
      = __empty_resource
- else
  = __viewer_association(@results, collapsed: false, highlight_text: @resource.query)
