template#schema-editor-trigger data-nested-form-target='templates'
  = form.fields_for :entities, entity, child_index: 'INDEX' do |entity_builder|
    = entity_builder.fields_for :triggers, Schematics::Trigger.new, child_index: 'NEW_RECORD' do |builder|
      = render Schematics::SchemaEditor::Trigger::Component.new(builder:)
