#importModal.modal class=modal_css_class aria-hidden="true" aria-labelledby="importModalTitle" role="dialog" tabindex="-1" 
  .modal-dialog.modal-dialog-centered.modal-lg role="document" 
    .modal-content.shadow-sm
      .modal-header.bg-primary
        h5#importModalTitle.m-0.text-white.text-truncate.font-weight-bold
          = fa_icon :cloud_upload_alt, class: "mr-3 ml-2"
          = I18n.t('.title')
      .modal-body
        = model_name
      .modal-footer.bg-light.justify-content-start
        /= link_to polymorphic_path(@resource, really: true),
                  method: :delete,
                  class: "btn btn-primary btn-sm btn-icon-split" do
                    span.icon= fa_icon :check
                    span.text= t('schematics.application.form.buttons.confirm')
        /= button_tag data: { dismiss: "modal" },
                      class: "btn btn-danger btn-sm btn-icon-split" do
                        span.icon= fa_icon :times
                        span.text= t('schematics.application.form.buttons.cancel')
