- breadcrumb title, main_app.polymorphic_path(@resource, action: :delete)
.card.shadow-sm.border-0
  .card-header.border-top-0.border-left-0.border-right-0.border-light.px-2.py-1
    = render Schematics::CardHeading::Component.new(icon: :trash, title:)
  .card-body.p-3
    .alert.alert-danger
      h5.alert-heading
        = fa_icon :exclamation_triangle, class: 'mr-3'
        = t('schematics.application.delete.title')
      = t('schematics.application.delete.subtitle')
    .text-dark = t('schematics.application.delete.warning', model_name: @model_name, gender: @gender, resource: @resource)
    - resource_associations(resource: @resource, only_required: true).each do |resources|
      = render Schematics::Viewer::Association::Component.new(resources:, collapsed: true)
    = form_for @resource, method: :delete, html: { class: 'mt-3' } do
      = render Schematics::Button::Confirm::Component.new
      = render Schematics::Button::Cancel::Component.new(path: @resource)
