- breadcrumb title, edit_polymorphic_path(@resource)
.card.shadow-sm.border-0
  .card-header.border-top-0.border-left-0.border-right-0.border-light.px-2.py-1
    h5.m-0.text-primary.text-truncate.font-weight-bold
      = fa_icon :edit, class: 'mr-3 ml-2 fa-lg align-middle'
      span.align-middle = title
  .card-body.p-3
    = render Schematics::ResourceForm::Component.new(resource: @resource)
