.card.shadow-sm.border-0.w-100
  .card-header.border-top-0.border-left-0.border-right-0.border-light.px-2.py-1
    .row.align-items-center
      .col.text-truncate
        h5.m-0.text-primary.text-truncate.font-weight-bold
          = fa_icon :table, class: 'mr-3 ml-2 fa-lg align-middle'
          span.align-middle = title
      .col-auto {
        data-controller='generateFileInBackground'
        data-generateFileInBackground-content-type='text/csv'
        data-generateFileInBackground-url=main_app.polymorphic_path(model_class, format: :csv)
      }
        a.btn.btn-light.btn-sm.btn-icon-split.ml-2 data-action='click->generateFileInBackground#run'
          span.icon data-generateFileInBackground-target='icon' = fa_icon :file_csv
          span.text.d-none.d-lg-inline data-generateFileInBackground-target='text' = t('schematics.application.button.download_as_csv')
        - if can?(:import, model_class)
          = link_to new_polymorphic_path([model_class, Import]), class: 'btn btn-dark btn-sm btn-icon-split ml-2' do
            span.icon = fa_icon :cloud_upload_alt
            span.text.d-none.d-lg-inline = t('schematics.application.button.import', model_name: @model_name_plural)
        - if can?(:create, model_class)
          = link_to new_polymorphic_path(model_class), class: 'btn btn-primary btn-sm btn-icon-split ml-2' do
            span.icon = fa_icon :plus
            span.text.d-none.d-lg-inline = t('schematics.application.button.add', model_name: @model_name)
        - unless params.except(:controller, :action, :locale, :page, :items, :model_name).empty?
          = link_to main_app.polymorphic_path(model_class), class: 'btn btn-danger btn-sm btn-icon-split ml-2' do
            span.icon = fa_icon :eraser
            span.text.d-none.d-lg-inline = t('schematics.application.button.reset_filters')
  .card-body.p-0
    = form_tag '', method: :get, class: 'form-inline' do
      = submit_tag 'Filtrer', name: nil, class: 'd-none'
      = render Schematics::Viewer::Component.create(resources: @resources)
= render Schematics::Viewer::Pagination::Component.new(entity: entity, pagy: @pagy, calendar: @calendar)
