.card.shadow-sm.border-0.w-100
  .card-header.border-top-0.border-left-0.border-right-0.border-light.px-2.py-1
    .row.align-items-center
      .col.text-truncate
        = render Schematics::CardHeading::Component.new(icon: :table, title:)
      .col-auto
        = render Schematics::Button::GenerateFileInBackground::Component \
            .build_csv(url: main_app.polymorphic_path(model_class, format: :csv), text: :download_as_csv)
        = render Schematics::Button::Import::Component.new(model_class:)
        = render Schematics::Button::Add::Component.new(model_class:)
        = render Schematics::Button::ResetFilters::Component.new(model_class:)
  .card-body.p-0
    = form_tag '', method: :get, class: 'form-inline' do
      = submit_tag 'Filtrer', name: nil, class: 'd-none'
      = render Schematics::Viewer::Component.build(resources: @resources)
= render Schematics::Viewer::Pagination::Component.new(model_name_plural: @model_name_plural, pagy: @pagy, calendar: @calendar)
