- breadcrumb title, new_polymorphic_path(@resource)
.card.shadow-sm.border-0
  .card-header.border-top-0.border-start-0.border-end-0.px-2.py-1
    .row.align-items-center
      .col.text-truncate
        = render Schematics::CardHeading::Component.new(icon: :plus, title:)
      .col-auto
        button.btn.btn-sm.btn-icon-split.pe-none
          span.icon = fa_icon ::Draft.entity.icon
          span.text.d-none.d-lg-inline
            | Brouillon sauvegardé
            span.ms-1 data-controller='timeago' datetime=::Time.current
  .card-body.p-3
    = render Schematics::ResourceForm::Component.new(resource: @resource)
