.table-responsive
  table.table.mb-0.table-striped
    tbody
      - entity \
        .renderable_elements \
        .reject_is_a?(Schematics::Attributes::RichText, Schematics::Attributes::Attachments) \
        .stable_sort_by(&:weight) \
        .each do |field|
          tr
            th
              = fa_icon field.icon, class: 'fa-fw mr-2 text-muted'
              = model_class.human_attribute_name(field.name)
            td
              = render Schematics::Resource::Component.new(resource: @resource, field:, editable: true)
