/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

- breadcrumb title, resource_path(@resource)
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.p-2
    .row.align-items-center
      .col.text-truncate.px-1
        = __card_heading(icon: :eye, title:)
      .col-auto
        = __button_generate_file_in_background(:pdf)
        = __button_qr_code(resource: @resource)
        = __button_calendar(resource: @resource)
        = __button_emailing(resource: @resource)
        = __button_impersonate(resource: @resource)
        = __button_reply(resource: @resource)
        = __button_comment(resource: @resource)
        = __button_edit(resource: @resource, compact: false)
        = __button_duplicate(resource: @resource)
        = __viewer_event_button_group(resource: @resource, compact: false)
        - action = @resource.associations(current_ability, dependent: true).any? ? :delete : :destroy
        = public_send(:"__button_#{action}", resource: @resource, compact: false)
  .card-body.p-0
    = __resource_details(resource: @resource, editable: true)
= __viewer_rich_text(model_class.entity.rich_text_attributes, resource: @resource)
= __viewer_association(@resource.associations(current_ability))
= __viewer_comments(resource: @resource)
= __viewer_timeline(resource: @resource)
