- breadcrumb title, polymorphic_path(@resource)
.card.shadow-sm.border-0.animate__animated.animate__zoomIn
  .card-header.border-top-0.border-start-0.border-end-0.px-2.py-1
    .row.align-items-center
      .col.text-truncate
        = render Schematics::CardHeading::Component.new(icon: :eye, title:)
      .col-auto
        = render Schematics::Button::GenerateFileInBackground::Component.pdf
        = render Schematics::Button::Impersonate::Component.new(resource: @resource)
        = render Schematics::Button::Edit::Component.new(resource: @resource, compact: false)
        = render Schematics::Button::Duplicate::Component.new(resource: @resource)
        = render Schematics::Viewer::EventButtonGroup::Component.new(resource: @resource, compact: false)
        - constant = resource_associations(resource: @resource, only: :required?).any? ? :Delete : :Destroy
        = render Schematics::Button.const_get(constant)::Component.new(resource: @resource, compact: false)
  .card-body.p-0
    = render Schematics::ResourceDetails::Component.new(resource: @resource, editable: true)
= render Schematics::Viewer::RichText::Component.with_collection(entity.rich_text_attributes, resource: @resource)
= render Schematics::Viewer::Association::Component.with_collection(resource_associations(resource: @resource))
= render Schematics::Viewer::Timeline::Component.new(resource: @resource)
