/*
 * Copyright © 2025 Dev & Software. All rights reserved.
 *
 * THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
 * REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
 * NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
 * NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
 * LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.
 */

@import url('/trix.css');

.trix-content action-text-attachment .attachment {
  max-width: 100% !important;
  padding: 0 !important;
}

.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  max-width: 33%;
  padding: 0 .5em;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment, /* stylelint-disable-line selector-class-pattern */
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, /* stylelint-disable-line selector-class-pattern */
.trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment, /* stylelint-disable-line selector-class-pattern */
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment { /* stylelint-disable-line selector-class-pattern */
  flex-basis: 50%;
  max-width: 50%;
}

trix-toolbar {
  width: 100%;

  .trix-button {
    background-color: var(--bs-tertiary-bg);
    border-radius: var(--bs-border-radius);
    border-width: 0 !important;
    margin-right: 0.25rem;
  }

  .trix-button.trix-active {
    background: var(--bs-secondary-bg) !important;
  }

  .trix-button-group {
    border: 0;
  }

  .trix-dialog {
    background: transparent;
    border: 0;
    box-shadow: none;
    font-size: inherit;
    left: inherit;
    padding: 0;

    .trix-input {
      background: transparent;
      border: 0;
    }
  }
}

trix-editor.form-control {
  height: auto;
}

.trix-editor-hidden-input {
  float: left;
  opacity: 0;
  padding: 0;
  width: 0;
}
