.attachment--preview { /* stylelint-disable-line selector-class-pattern */
  margin: .6em 0;
  text-align: center;
  width: 100%;
}

.attachment {
  display: inline-block;
  margin: 0;
  max-width: 100%;
  padding: 0;
  position: relative;
}
