.input-group.flex-nowrap
  = render Schematics::Filter::Range::Bound::Component.new(field:, comparison: :gte)
  .me-2
  = render Schematics::Filter::Range::Bound::Component.new(field:, comparison: :lte)
