nav.sticky-top aria-label="breadcrumb" 
  ol.nav.align-items-center.breadcrumb.bg-white.shadow-sm.border-bottom.border-dark.pb-2.pt-0.pl-4.rounded-0
    li.nav-item.breadcrumb-item
      = link_to schematics.root_path do
        = fa_icon :home, class: "fa-lg"
    - breadcrumb_trail do |crumb|
      lib.breadcrumb-item.text-truncate class=("#{crumb.current? ? 'active' : ''}") 
        = link_to_unless crumb.current?, crumb.name, crumb.url, (crumb.current? ? {'aria-current' => 'page'} : {})
    li.nav-item.ml-auto.pr-3
      = link_to "/api", class: "mr-3" do
        = fa_icon :project_diagram
        span.d-none.d-sm-inline.ml-2= t('.api')
      = link_to "/" do
        = fa_icon :cog
        span.d-none.d-sm-inline.ml-2= t('.settings')
