nav.sticky-top aria-label="breadcrumb" 
  ol.breadcrumb.bg-gradient-light.shadow.border-top.border-bottom.p-2.pl-4.rounded-0
    li class=("breadcrumb-item") 
      = link_to schematics.root_path do
        = fa_icon :home, class: "fa-lg"
    - breadcrumb_trail do |crumb|
      li class=("breadcrumb-item #{crumb.current? ? 'active' : ''}") 
        = link_to_unless crumb.current?, crumb.name, crumb.url, (crumb.current? ? {'aria-current' => 'page'} : {})
