= simple_form_for resource, defaults: { input_html: { class: "bg-light border-0" } } do |f|
  - (entity.fillable_attributes - entity.belongs_to_attributes).each do |attribute|
    - case attribute
    - when Schematics::Attributes::Date
      = f.input attribute.name.to_sym, as: :date, html5: true
    - when Schematics::Attributes::String
      = f.input attribute.name.to_sym, maxlength: true, minlength: true, pattern: true
    - when Schematics::Attributes::Decimal
      = f.input attribute.name.to_sym, min_max: true
    - when Schematics::Attributes::RichText
      = f.input attribute.name.to_sym, as: :rich_text_area
    - when Schematics::Attributes::Enum
      = f.input attribute.name.to_sym,
                as: :radio_buttons,
                collection: resource.class.send(attribute.name.pluralize.to_sym).keys. \
                  collect { |key| [resource.class.human_enum_name(attribute.name.to_sym, key), key] }
    - when Schematics::Attributes::Attachment
      = f.input attribute.name.to_sym,
                as: :file,
                required: attribute.required? && resource.new_record?,
                hint: (fa_icon(:info_circle, class: "mr-1") + \
                  humanize_attachment_validators(attribute.validators) unless attribute.validators.empty?),
                input_html: { multiple: attribute.is_a?(Schematics::Attributes::Attachments) }
    - when Schematics::Attributes::Digest
      = f.input attribute.name.to_sym, required: resource.new_record?
      = f.input :"#{attribute.name}_confirmation", required: resource.new_record?
    - else
      = f.input attribute.name.to_sym
  - entity.belongs_to_attributes.each do |attribute|
    = f.association attribute.name.to_sym,
                    prompt: t('.prompt', model_name: model_class.human_attribute_name(attribute.name).downcase)
  = f.button :button, class: "btn btn-primary btn-sm btn-icon-split mr-2" do
    span.icon= fa_icon :check
    span.text= t('.buttons.confirm')
  = link_to polymorphic_path(model_class), class: "btn btn-danger btn-sm btn-icon-split" do
    span.icon= fa_icon :times
    span.text= t('.buttons.cancel')
