= simple_form_for(resource) do |f|
  - (entity.attributes - entity.references).each do |attribute|
    - if attribute.is_a?(Schematics::Attributes::Enum)
      = f.input attribute.name.to_sym, collection: model_class.send(attribute.name.pluralize.to_sym).keys.map(&:to_sym), include_blank: false
    - elsif attribute.is_a?(Schematics::Attributes::Attachments)
      = f.input attribute.name.to_sym, as: :file, input_html: { multiple: true }
    - else
      = f.input attribute.name.to_sym
  - entity.references.each do |reference|
    = f.association reference.name.to_sym, label_method: find_descriptor_by_reference(reference).name.to_sym, prompt: "Please select"
  = f.button :submit, class: "btn-primary mr-2"
  = link_to 'Annuler', url_for(action: :index), class: "btn btn-link mr-2"
