= simple_form_for resource, defaults: { input_html: { class: "bg-light border-0" } } do |f|
  - (entity.attributes - entity.references).reject_is_a?(Schematics::Attributes::Token).each do |attribute|
    - case attribute
    - when Schematics::Attributes::String
      = f.input attribute.name.to_sym, maxlength: true, minlength: true, pattern: true
    - when Schematics::Attributes::Decimal
      = f.input attribute.name.to_sym, min_max: true
    - when Schematics::Attributes::RichText
      = f.input attribute.name.to_sym, as: :rich_text_area
    - when Schematics::Attributes::Enum
      = f.input attribute.name.to_sym,
        collection: resource.class.send(attribute.name.pluralize.to_sym).keys.map(&:to_sym),
        include_blank: false
    - when Schematics::Attributes::Attachment
      = f.input attribute.name.to_sym,
        as: :file,
        required: resource.new_record?,
        wrapper_html: { class: "mb-2", },
        input_html: { multiple: attribute.is_a?(Schematics::Attributes::Attachments) }
      small.form-text.text-muted.mb-2
        = fa_icon :info_circle, class: "mr-1"
        = humanize_attachment_validators(attribute.validators)
    - when Schematics::Attributes::Digest
      = f.input attribute.name.to_sym
      = f.input :"#{attribute.name}_confirmation"
    - else
      = f.input attribute.name.to_sym
  - entity.references.each do |reference|
    = f.association reference.name.to_sym, label_method: reference.inverse_descriptor.name.to_sym, prompt: "Please select"
  = f.button :button, class: "btn-primary btn-icon-split mr-2" do
    span.icon= fa_icon :check
    span.text Valider
  = link_to url_for(action: :index), class: "btn btn-danger btn-icon-split" do
    span.icon= fa_icon :times
    span.text Annuler
  
