.toast.shadow-sm.border-success.w-50 aria-atomic="true" aria-live="assertive" role="alert"
  .toast-header.bg-gradient-success.text-white
    span
      = fa_icon :bell
    strong.mr-auto.ml-2.align-middle= t('.title')
    button.ml-2.mb-1.close aria-label="Close" data-dismiss="toast" type="button" 
      = fa_icon :check, class: "fa-xs"
  .toast-body
    = notice
