.table-responsive
  table.table class=('with-actions' if actions) class=(['table-striped', 'table-hover'] unless resources.empty?)
    thead
      tr
        - if actions
          th.text-nowrap.text-center
            = fa_icon :archive, class: "mr-2 text-dark"
            = t('.archives')
        - (table_entity.attributes - table_entity.references + table_entity.virtuals). \
          select(&:visible?). \
          reject_is_a?(Schematics::Attributes::Attachment). \
          each do |field|
          th.text-nowrap.text-center
            - if actions 
              = sort_link_to(field) 
            - else
              = fa_icon field.icon, class: "mr-2 text-dark"
              = model_class.human_attribute_name(field.name)
        - table_entity.references.each do |reference|
          th.text-nowrap.text-center
            - if actions 
              = sort_link_to(reference) 
            - else
              = fa_icon reference.icon, class: "mr-2 text-dark"
              = model_class.human_attribute_name(reference.name)
        - (table_entity.has_one_associations + table_entity.has_one_through_associations).each do |association|
          th.text-nowrap.text-center
            - if actions 
              = sort_link_to(association) 
            - else
              = fa_icon association.icon, class: "mr-2 text-dark"
              = model_class.human_attribute_name(association.name)
      - if actions
        tr
          th.text-nowrap.align-middle.px-0
            = render 'schematics/application/filters/with_deleted'
          - (table_entity.attributes - table_entity.references + table_entity.virtuals). \
            select(&:visible?). \
            reject_is_a?(Schematics::Attributes::Attachment). \
            each do |field|
            th.align-middle.text-center.px-0
              - case field
              - when Schematics::Attributes::Boolean
                = render 'schematics/application/filters/boolean', field: field
              - when Schematics::Virtuals::Calculation, Schematics::Attributes::Float
                = render 'schematics/application/filters/range', field: field
              - when Schematics::Attributes::Date
                = render 'schematics/application/filters/date', field: field
              - when Schematics::Attributes::Enum
                = render 'schematics/application/filters/enum', field: field, table_entity: table_entity
              - else
                = render 'schematics/application/filters/input', field: field
          - table_entity.references.each do |reference|
            th.align-middle.text-center.px-0
              = render 'schematics/application/filters/reference', reference: reference
          - (table_entity.has_one_associations + table_entity.has_one_through_associations).each do |association|
            th.align-middle.text-center.px-0
              = render 'schematics/application/filters/association', association: association
      tbody
        - if resources.empty?
          tr
            td.text-center.pt-5 colspan="100%"
              = render 'empty'
        - else
          - resources.each do |resource|
            tr onclick="window.location = '#{main_app.url_for(resource)}'"
              - if actions
                td.text-nowrap.text-right
                  .btn-group
                    = link_to main_app.edit_polymorphic_path(resource),
                      class: "btn btn-primary btn-sm",
                      data: { toggle: "tooltip", placement: "top", title: "Editer" } do
                      = fa_icon :edit
                    - if resource.deleted?
                      = link_to fa_icon(:trash_restore),
                        main_app.polymorphic_path(resource),
                        method: :delete,
                        class: "btn btn-danger btn-sm",
                        data: { toggle: "tooltip", placement: "top", title: "Restaurer" }
                    - else
                      = link_to fa_icon(:archive),
                        main_app.polymorphic_path(resource),
                        method: :delete,
                        class: "btn btn-danger btn-sm",
                        data: { toggle: "tooltip", placement: "top", title: "Archiver" }
              - (table_entity.attributes - table_entity.references + table_entity.virtuals). \
                select(&:visible?). \
                reject_is_a?(Schematics::Attributes::Attachment). \
                each do |field|
                td.text-nowrap.text-center
                  - if field.searchable? && !actions
                    = highlight(resource.instance_eval(field.name), params[:query])
                  - else
                    - value = resource.instance_eval(field.name)
                    - case field
                    - when Schematics::Attributes::Boolean
                      = value ? fa_icon(:check, class: "text-success") : fa_icon(:times, class: "text-danger")
                    - when Schematics::Attributes::RichText
                      = strip_tags(value.to_s)
                    - else
                      = field.format(value)
              - table_entity.references.each do |reference|
                td.text-nowrap.text-center
                  - unless resource.instance_eval(reference.name).nil?
                    = link_to resource.instance_eval("#{reference.name}.#{reference.inverse_descriptor.name}"),
                      main_app.polymorphic_path(resource.instance_eval(reference.name))
              - (table_entity.has_one_associations + table_entity.has_one_through_associations).each do |association|
                td.text-nowrap.text-center
                  - unless resource.instance_eval(association.name).nil?
                    = link_to resource.instance_eval("#{association.name}.#{association.descriptor.name}"),
                      main_app.polymorphic_path(resource.instance_eval(association.name))
