- breadcrumb title, edit_polymorphic_path(@resource)
.card.shadow-sm
  .card-header.p-2
    h5.m-0.text-primary.text-truncate.font-weight-bold
      = fa_icon :edit, class: 'mr-3 ml-3 fa-lg align-middle'
      span.align-middle = title
  .card-body
    = render Schematics::ResourceForm::Component.new(resource: @resource)
