.card.shadow
  .card-header
    h5.m-0.text-primary.font-weight-bold
      = fa_icon :edit, class: "mr-2"
      | Editer un #{entity.type.titleize}
  .card-body
    = render 'form', resource: @resource
