- breadcrumb title, polymorphic_path(model_class, action: :import)
.card.shadow-sm.border-0
  .card-header.border-top-0.border-left-0.border-right-0.border-light.px-2.py-1
    .row.align-items-center
      .col.text-truncate
        h5.m-0.text-primary.text-truncate.font-weight-bold
          = fa_icon :cloud_upload_alt, class: 'mr-3 ml-2 fa-lg align-middle'
          span.align-middle = title
      .col-auto data-controller='generateFileInBackground' data-generateFileInBackground-content-type='text/csv' data-generateFileInBackground-url=polymorphic_path(model_class, action: :import, format: :csv)
        a.btn.btn-primary.btn-sm.btn-icon-split data-action='click->generateFileInBackground#run'
          span.icon data-generateFileInBackground-target='icon' = fa_icon :file_csv
          span.text.d-none.d-lg-inline data-generateFileInBackground-target='text' = t('schematics.application.button.download_csv_template')
  .card-body.p-3
    - @errors&.each do |line, error|
      .alert.alert-danger
        h5.alert-heading
          = fa_icon :exclamation_triangle, class: 'mr-3'
          | Ligne #{line}
        = error
    = simple_form_for :import, url: polymorphic_path(model_class, action: :bulk_insert) do |f|
      = f.input :file, as: :file, input_html: { accept: '.csv' }
      = f.button :button, class: 'btn btn-primary btn-sm btn-icon-split mr-2' do
        span.icon = fa_icon :check
        span.text = t('schematics.application.button.confirm')
      = link_to model_class, class: 'btn btn-danger btn-sm btn-icon-split' do
        span.icon = fa_icon :times
        span.text = t('schematics.application.button.cancel')
