- breadcrumb title, polymorphic_path(model_class, action: :import)
.card.shadow-sm
  .card-header.p-2
    .row.align-items-center
      .col.text-truncate
        h5.m-0.text-primary.text-truncate.font-weight-bold
          = fa_icon :cloud_upload_alt, class: "mr-3 ml-3 fa-lg align-middle"
          span.align-middle= title
      .col-auto.mr-1
        = link_to polymorphic_path(model_class, format: :csv, per_page: 1), class: "btn btn-primary btn-sm btn-icon-split mr-2" do
          span.icon= fa_icon :file_csv
          span.text.d-none.d-lg-inline Télécharger une trame
  .card-body
    - @errors&.each do |line, error|
      .alert.alert-danger
        h5.alert-heading
          = fa_icon :exclamation_triangle, class: "mr-3"
          | Ligne #{line}
        = error
    = simple_form_for :import, url: polymorphic_path(model_class, action: :bulk_insert) do |f|
      = f.input :file, as: :file
      = f.button :button, class: "btn btn-primary btn-sm btn-icon-split mr-2" do
        span.icon= fa_icon :check
        span.text= t('schematics.application.button.confirm')
      = link_to model_class, class: "btn btn-danger btn-sm btn-icon-split" do
        span.icon= fa_icon :times
        span.text= t('schematics.application.button.cancel')
