= form_tag '', method: :get, class: "form-inline mb-4" do
  = submit_tag "Filtrer", name: nil, class: "d-none"
  .card.shadow-sm.w-100
    .card-header.p-2
      ul.nav.align-items-center
        li.nav-item
          h5.m-0.text-primary.text-truncate.font-weight-bold
            = fa_icon :table, class: "mr-3 ml-3 fa-lg align-middle"
            span.align-middle= title
        li.nav-item.ml-auto.mr-1
          - if @resources.size > 10
            = select_tag :per_page,
              options_for_select([10, 25, 50, 100].map { |size| [t('.dropdowns.per_page', size: size, model_name: @model_name_plural), size] }, params.fetch(:per_page, 25)),
              onchange: "$(this.form).submit()",
              class: "form-control form-control-sm bg-light border-0 d-none d-md-inline mr-2"
          = link_to polymorphic_path(model_class, format: :csv), class: "btn btn-light btn-sm btn-icon-split mr-2" do
            span.icon= fa_icon :file_csv
            span.text.d-none.d-lg-inline= t('.buttons.download_as_csv')
          - if can?(:import, model_class)
            = link_to polymorphic_path(model_class, action: :import), class: "btn btn-dark btn-sm btn-icon-split mr-2" do
              span.icon= fa_icon :cloud_upload_alt
              span.text.d-none.d-lg-inline= t('.buttons.import', model_name: @model_name_plural)
          - if can?(:create, model_class)
            = link_to new_polymorphic_path(model_class), class: "btn btn-primary btn-sm btn-icon-split" do
              span.icon= fa_icon :plus
              span.text.d-none.d-lg-inline= t('.buttons.add', model_name: @model_name)
          - unless params.except(:controller, :action, :locale, :page, :per_page).empty?
            = link_to polymorphic_path(model_class), class: "btn btn-danger btn-sm btn-icon-split ml-2" do
              span.icon= fa_icon :eraser
              span.text.d-none.d-lg-inline= t('.buttons.reset_filters')
    .card-body.p-0
      = render 'schematics/application/viewers/table'
== pagy_bootstrap_nav_js(@pagy) if @pagy.pages > 1
