- breadcrumb title, @resource
.card.shadow-sm
  .card-header.p-2
    .row.align-items-center
      .col.text-truncate
        h5.m-0.text-primary.text-truncate.font-weight-bold
          = fa_icon :eye, class: "mr-3 ml-3 fa-lg align-middle"
          span.align-middle= title
      .col-auto.mr-1
        = link_to polymorphic_path(@resource, format: :pdf), class: "btn btn-light btn-sm btn-icon-split mr-2" do
          span.icon= fa_icon :file_pdf
          span.text.d-none.d-lg-inline= t('.buttons.download_pdf')
        - if can?(:update, @resource)
          = link_to edit_polymorphic_path(entity.is_a?(Schematics::Entities::Singleton) ? model_class : @resource), class: "btn btn-primary btn-sm btn-icon-split mr-2" do
            span.icon= fa_icon :edit
            span.text.d-none.d-lg-inline= t('.buttons.edit')
        - if can?(:destroy, @resource)
          - if resource_associations.any?
            = link_to polymorphic_path(@resource, action: :delete), class: "btn btn-danger btn-sm btn-icon-split" do
                span.icon= fa_icon :trash
                span.text.d-none.d-lg-inline= t('.buttons.destroy')
          - else
            = link_to polymorphic_path(@resource), method: :delete, class: "btn btn-danger btn-sm btn-icon-split", data: confirm_data do
                span.icon= fa_icon :trash
                span.text.d-none.d-lg-inline= t('.buttons.destroy')
  .card-body.p-0
    = render template: 'schematics/application/show', formats: :pdf
- entity.rich_text_attributes.each do |attribute|
  - rich_text = @resource.instance_eval(attribute.name)
  - if rich_text.present?
    .card.shadow-sm.mt-4
        a.card-header.p-2 href="#collapse-#{attribute.name}" data-toggle="collapse" role="button"
          h5.m-0.text-primary.text-truncate.font-weight-bold
            = fa_icon attribute.icon, class: "mr-3 ml-3 fa-lg"
            = attribute.entity.class_name.constantize.human_attribute_name(attribute.name)
        .collapse.show id="collapse-#{attribute.name}"
          .card-body
            == rich_text
- resource_associations.each do |resources|
  = render Schematics::Viewer::Association::Component.new(resources: resources)
- if can?(:update, @resource)
  .mt-4
    - versions = PaperTrail::Version.timeline(versions: @resource.versions.includes(item: entity.includes), ability: current_ability)
    = render Schematics::Timeline::Component.new(versions: versions)
