.table-responsive
  table.table.table-striped
    tbody
      - (entity.attributes - entity.references + entity.virtuals).select(&:visible?).each do |field|
        tr
          th
            = fa_icon field.icon, class: "mr-2 text-muted"
            = model_class.human_attribute_name(field.name)
          td
            - value = @resource.instance_eval(field.name)
            - case field
            - when Schematics::Attributes::Attachments
              - value.each do |attachment|
                = image_tag(attachment)
            - when Schematics::Attributes::Attachment
              = image_tag(value)
            - when Schematics::Attributes::RichText
              == value
            - else
              = field.format(value)
      - entity.references.each do |reference|
        tr
          th
            = fa_icon reference.icon, class: "mr-2 text-muted"
            = model_class.human_attribute_name(reference.name)
          td
            = link_to @resource.instance_eval("#{reference.name}.#{reference.inverse_descriptor.name}"), @resource.instance_eval(reference.name)
      - (entity.has_one_associations + entity.has_one_through_associations).each do |association|
        tr
          th
            = fa_icon association.icon, class: "mr-2 text-muted"
            = model_class.human_attribute_name(association.name)
          td= link_to @resource.instance_eval("#{association.name}.#{association.descriptor.name}"), @resource.instance_eval(association.name)
