- breadcrumb title, @resource
.card.shadow-sm
  .card-header
    ul.nav
      li.nav-item
        h5.m-0.text-primary.text-truncate.font-weight-bold.card-header-title
          = fa_icon :eye, class: "mr-2"
          = title
      li.nav-item.ml-auto
        = link_to edit_polymorphic_path(@resource), class: "btn btn-primary btn-icon-split mr-2" do
          span.icon= fa_icon :edit
          span.text.d-none.d-lg-inline= t('.buttons.edit')
        = link_to polymorphic_path(@resource, format: :pdf), class: "btn btn-info btn-icon-split mr-2" do
          span.icon= fa_icon :file_pdf
          span.text.d-none.d-lg-inline= t('.buttons.download_pdf')
        = link_to polymorphic_path(@resource, really: true),
                  method: :delete,
                  data: { confirm: t('.buttons.are_you_sure?') },
                  class: "btn btn-danger btn-icon-split" do
                    span.icon= fa_icon :trash
                    span.text.d-none.d-lg-inline= t('.buttons.destroy')
  .card-body
    = render template: 'schematics/application/show.pdf'
- entity.has_many_and_through_associations.each do |association|
  - resources = @resource.instance_eval(association.name)
  - unless resources.empty?
    .card.shadow-sm.mt-4
      a.card-header.collapsed href="#collapse-#{association.name}" data-toggle="collapse" role="button"
        h5.m-0.text-primary.text-truncate.font-weight-bold.card-header-title
          = fa_icon association.icon, class: "mr-2"
          = association.class_name.constantize.human_attribute_name(association.name, count: resources.size)
          |  (#{resources.size})
      .collapse.hide id="collapse-#{association.name}"
        .card-body
          = render 'schematics/application/table', resources: resources, table_entity: association.entity, actions: false
