.form-check.form-switch.mx-auto.mb-0 class=css_class
  = checkbox_tag filter_name, 'true', active?, form:, data:, class: 'form-check-input'
  = label_tag filter_name, label, class: 'form-check-label'
