.custom-control.custom-switch.mx-auto class=css_class
  = check_box_tag filter_name,
                  'true',
                  active?,
                  onchange: '$(this.form).submit()',
                  class: 'custom-control-input'
  = label_tag filter_name, label, class: 'custom-control-label'
