.row data-href=(version_path(@version) if item.present?)
  .col-auto.align-self-center
    = link_to render(Schematics::Attachment::Component.create_avatar(attachment: user.avatar)), user
  .col.text-truncate
    - if item.present?
      = link_to(item, item)
    - else
      .text-muted = @version.reify(dup: true)
    .text-muted = timeago_tag(created_at)
  .col-auto.align-self-center
    = fa_icon(icon, size: '2x', class: 'text-light')
