.row data-href=href
  .col-auto.align-self-center
    = link_to render(Schematics::Attachment::Component.build_avatar(user:)), user
  .col.text-truncate
    - if item
      = link_to(item.to_s, item)
    - else
      .text-muted = @version.reify(dup: true).to_s
    .text-muted = timeago_tag(created_at, force: true)
  .col-auto.align-self-center
    = fa_icon(icon, size: '2x', class: 'fa-fw text-light')
