= bootstrap_form_with model:, scope:, url: do |form|
  = form.email_field :email, prepend: fa_icon(:envelope)
  = render Schematics::ResourceForm::Fields::Digest::Component.new(form:, value:)
  = form.check_box :remember_me, switch: true
  = render Schematics::Button::Confirm::Component.new
  = link_to t('.password_lost?'), new_password_reset_path, class: 'btn btn-link btn-sm text-decoration-none'
