= form_for ::Search.new, data: { controller: 'form' }, html: { class: 'd-flex pe-3' } do |f|
  .position-relative.d-flex data-controller='search-bar' data-search-bar-highlight-value='false'
    = f.search_field :query,
                      required: true,
                      minlength: 3,
                      placeholder: t('.placeholder'),
                      class: 'search form-control border-0 bg-transparent',
                      autocomplete: 'off',
                      spellcheck: false,
                      data: { 'search-bar-target': 'input', action: }
    ul.list-group.list-group-striped.shadow-sm.typeahead-results.position-absolute.top-100.w-100 {
      data-search-bar-target='results'
    }
    ul.list-group.list-group-striped.shadow-sm.typeahead-results.position-absolute.top-100.w-100.d-none {
      data-search-bar-target='history'
    }
      - search_history.each do |query|
        li.list-group-item.list-group-item-action.p-2.border-0.text-start.text-truncate {
          data-action='mousedown->search-bar#selectItem'
          data-search-bar-url-param=search_path(query)
          role='button'
        }
          = fa_icon :history, class: 'text-secondary fa-fw me-2'
          = query
  = f.button class: 'btn nav-link p-0', data: { 'form-target': 'submitButton' } do
    span.icon = fa_icon :magnifying_glass, class: 'fa-lg'
    span.icon.d-none = fa_icon :spinner, animation: 'spin'
