= form_with url:, method: :patch, class: 'd-inline'
  = __confirm_dialog(target:, text:)
= button_tag data:, title: event.human, class: css_classes do
  span.icon = fa_icon event.icon, class: icon_class
  span.text.d-none.d-xxl-inline = event.human unless compact?
