= bootstrap_form_with model:, url: do |form|
  = form.email_field :email, prepend: fa_icon(:envelope)
  = render Schematics::Button::Confirm::Component.new
  = render Schematics::Button::Cancel::Component.new(path: login_path)
