.table-responsive
  table.table.mb-0.table-striped.table-hover
    thead
      tr
        th.text-nowrap.text-center
        th.text-nowrap.text-center
          = fa_icon :file, class: "mr-2 text-dark"
          = t('schematics.application.viewers.table.filename')
        th.text-nowrap.text-center
          = fa_icon :file, class: "mr-2 text-dark"
          = t('schematics.application.viewers.table.content_type')
        th.text-nowrap.text-center
          = fa_icon :file, class: "mr-2 text-dark"
          = t('schematics.application.viewers.table.size')
      tbody.table-bordered.border-0
        - attachments.each do |attachment|
          tr onclick="window.location = '#{main_app.polymorphic_path(attachment)}'"
            td.text-nowrap.text-center
              .btn-group
                = link_to fa_icon(:trash),
                  main_app.polymorphic_path(attachment),
                  method: :delete,
                  class: "btn btn-danger btn-sm",
                  data: { toggle: "tooltip", placement: "top", title: t('schematics.application.show.buttons.destroy') }
            td.text-nowrap.text-center
              = attachment.filename
            td.text-nowrap.text-center
              = attachment.content_type
            td.text-nowrap.text-center
              = number_to_human_size(attachment.byte_size)
