- random = SecureRandom.base58
.card.shadow-sm.mt-4
  a.card-header.p-2 class=('collapsed' if collapsed) href="#collapse-#{random}" data-toggle="collapse" role="button"
    ul.nav.align-items-center
      li.nav-item
        h5.m-0.text-primary.text-truncate.font-weight-bold
          = fa_icon icon, class: "mr-3 ml-3 fa-lg align-middle"
          span.align-middle= title
        li.nav-item.ml-auto.mr-4.pr-4
          .badge.badge-light.border.p-2= resources.size
  .collapse class=(collapsed ? 'hide' : 'show') id="collapse-#{random}"
    .card-body.p-0
      .table-responsive
        table.table.mb-0.table-striped.table-hover
          thead
            tr
              th.text-nowrap.text-center.align-middle
              - (entity.renderable_fields - entity.association_attributes).each do |field|
                th.text-nowrap.text-center.align-middle
                  = fa_icon field.icon, class: "mr-2 text-dark"
                  = model_class.human_attribute_name(field.name)
              - (entity.association_attributes + entity.renderable_associations).each do |association|
                th.text-nowrap.text-center.align-middle
                  = fa_icon association.icon, class: "mr-2 text-dark"
                  = model_class.human_attribute_name(association.name)
            tbody.table-bordered.border-0
              - resources.includes(entity.includes).each do |resource|
                tr data-href=main_app.polymorphic_path(resource)
                  td.text-nowrap.text-center
                    .btn-group
                      = link_to main_app.edit_polymorphic_path(resource),
                        class: "btn btn-primary btn-sm",
                        data: { toggle: "tooltip", placement: "top", title: t('schematics.application.viewers.table.edit') } do
                        = fa_icon :edit
                      = link_to fa_icon(:archive),
                        main_app.polymorphic_path(resource, action: :archive),
                        method: :delete,
                        class: "btn btn-danger btn-sm",
                        data: { toggle: "tooltip", placement: "top", title: t('schematics.application.viewers.table.archive') }
                  - (entity.renderable_fields - entity.association_attributes).each do |field|
                    td.text-nowrap.text-center.align-middle
                      - value = resource.instance_eval(field.name)
                      - case field
                      - when Schematics::Attributes::Attachments
                        - value.each do |attachment|
                          = link_to attachment.filename, main_app.url_for(attachment)
                      - when Schematics::Attributes::Attachment
                        = link_to value.filename, main_app.url_for(value) if value.attached?
                      - when Schematics::Attributes::Boolean
                        = value ? fa_icon(:check, class: "text-success") : fa_icon(:times, class: "text-danger")
                      - when Schematics::Behaviours::Searchable
                        = highlight field.format(value), params[:query]
                      - else
                        = field.format(value)
                  - (entity.association_attributes + entity.renderable_associations).each do |association|
                    td.text-nowrap.text-center.align-middle
                      - value = resource.instance_eval(association.name)
                      = link_to value, main_app.polymorphic_path(value) if value
