- random = SecureRandom.base58
.card.shadow-sm.mt-4
  a.card-header.p-2 class=('collapsed' if collapsed) href="#collapse-#{random}" data-toggle="collapse" role="button"
    ul.nav.align-items-center
      li.nav-item
        h5.m-0.text-primary.text-truncate.font-weight-bold
          = fa_icon icon, class: "mr-3 ml-3 fa-lg align-middle"
          span.align-middle= title
        li.nav-item.ml-auto.mr-4.pr-4
          .badge.badge-light.border.p-2= attachments.size
  .collapse class=(collapsed ? 'hide' : 'show') id="collapse-#{random}"
    .card-body.p-0
      .table-responsive
        table.table.mb-0.table-striped.table-hover
          thead
            tr
              th.text-nowrap.text-center.align-middle
              th.text-nowrap.text-center.align-middle
                = fa_icon :file, class: "mr-2 text-dark"
                = t('schematics.application.viewers.table.filename')
              th.text-nowrap.text-center.align-middle
                = fa_icon :file, class: "mr-2 text-dark"
                = t('schematics.application.viewers.table.content_type')
              th.text-nowrap.text-center.align-middle
                = fa_icon :file, class: "mr-2 text-dark"
                = t('schematics.application.viewers.table.size')
            tbody.table-bordered.border-0
              - attachments.each do |attachment|
                tr data-href=main_app.polymorphic_path(attachment)
                  td.text-nowrap.text-center
                    .btn-group
                      = form_for @resource do |f|
                        = f.fields_for :"#{attachment.name}_attachments_attributes" do |fields|
                          = fields.hidden_field :id, value: attachment.id
                          = fields.hidden_field :_destroy, value: true
                        = f.button :button,
                                    class: "btn btn-danger btn-sm",
                                    data: { toggle: "tooltip", placement: "top", title: I18n.t('schematics.application.show.buttons.destroy') } do
                                      = fa_icon(:trash)
                  td.text-nowrap.text-center.align-middle
                    = attachment.filename
                  td.text-nowrap.text-center.align-middle
                    = attachment.content_type
                  td.text-nowrap.text-center.align-middle
                    = number_to_human_size(attachment.byte_size)
