.table-responsive
  table.table.mb-0 class=(['table-striped', 'table-hover'] if @resources.any?)
    thead
      tr
        th.text-nowrap.text-center.pb-0
          = t('schematics.application.viewers.table.archives')
        - (entity.renderable_fields - entity.belongs_to_attributes).each do |field|
          th.text-nowrap.text-center.pb-0
            = sort_link_to(field)
        - entity.belongs_to_attributes.each do |attribute|
          th.text-nowrap.text-center.pb-0
            = sort_link_to(attribute)
        - entity.has_one_and_through_associations.each do |association|
          th.text-nowrap.text-center.pb-0
            = sort_link_to(association)
      tr.filters
        th.text-nowrap.align-middle.px-0.py-1
          = render 'schematics/application/filters/with_deleted'
        - (entity.renderable_fields - entity.belongs_to_attributes).each do |field|
          th.align-middle.text-center.px-0.py-1
            - case field
            - when Schematics::Attributes::Boolean
              = render 'schematics/application/filters/boolean', field: field
            - when Schematics::Virtuals::Calculation, Schematics::Attributes::Float
              = render 'schematics/application/filters/range', field: field
            - when Schematics::Attributes::Date
              = render 'schematics/application/filters/date', field: field
            - when Schematics::Attributes::Enum
              = render 'schematics/application/filters/enum', field: field
            - else
              = render 'schematics/application/filters/input', field: field
        - entity.belongs_to_attributes.each do |attribute|
          th.align-middle.text-center.px-0.py-1
            = render 'schematics/application/filters/belongs_to', attribute: attribute
        - entity.has_one_and_through_associations.each do |association|
          th.align-middle.text-center.px-0.py-1
            = render 'schematics/application/filters/association', association: association
      tbody class=('table-bordered border-0' if @resources.any?)
        - if @resources.empty?
          tr
            td.text-center.pt-5 colspan="100%"
              = render 'empty'
        - else
          - @resources.each do |resource|
            tr class=('disabled' if resource.deleted?) onclick=("window.location = '#{main_app.polymorphic_path(resource)}'" unless resource.deleted?)
              td.text-nowrap.text-center
                .btn-group.enabled onclick="event.stopPropagation()"
                  - if resource.deleted?
                    = link_to fa_icon(:trash_restore),
                      main_app.polymorphic_path(resource),
                      method: :delete,
                      class: "btn btn-danger btn-sm",
                      data: { toggle: "tooltip", placement: "top", title: t('schematics.application.viewers.table.restore') }
                  - else
                    = link_to main_app.edit_polymorphic_path(resource),
                      class: "btn btn-primary btn-sm",
                      data: { toggle: "tooltip", placement: "top", title: t('schematics.application.viewers.table.edit') } do
                      = fa_icon :edit
                    = link_to fa_icon(:archive),
                      main_app.polymorphic_path(resource),
                      method: :delete,
                      class: "btn btn-danger btn-sm",
                      data: { toggle: "tooltip", placement: "top", title: t('schematics.application.viewers.table.archive') }
              - (entity.renderable_fields - entity.belongs_to_attributes).each do |field|
                td.text-nowrap.text-center.align-middle
                  - value = resource.instance_eval(field.name)
                  - case field
                  - when Schematics::Attributes::Attachments
                    - value.with_deleted.each do |attachment|
                      = link_to attachment.filename, main_app.url_for(attachment), class: "pr-2"
                  - when Schematics::Attributes::Attachment
                    - value = ActiveStorage::Attachment.with_deleted.find_by_record_id(resource.id)
                    = link_to value.filename, main_app.url_for(value) if value
                  - when Schematics::Attributes::Boolean
                    = value ? fa_icon(:check, class: "text-success") : fa_icon(:times, class: "text-danger")
                  - when Schematics::Attributes::RichText
                    - value = ActionText::RichText.with_deleted.find_by_record_id(resource.id)
                    = field.format(value)
                  - else
                    = field.format(value)
              - entity.belongs_to_attributes.each do |attribute|
                td.text-nowrap.text-center.align-middle
                  - value = resource.instance_eval(attribute.name)
                  = link_to value, main_app.polymorphic_path(value) if value
              - entity.has_one_and_through_associations.each do |association|
                td.text-nowrap.text-center.align-middle
                  - value = resource.instance_eval(association.name)
                  = link_to value, main_app.polymorphic_path(value) if value
