.table-responsive
  table.table.mb-0 class=(['table-striped', 'table-hover'] if @resources.any?)
    thead
      tr
        th.text-nowrap.text-center.pb-0
          = t('schematics.application.viewers.table.archives')
        - (entity.renderable_fields - entity.association_attributes).each do |field|
          th.text-nowrap.text-center.pb-0
            = sort_link(@q, field.sort_field, model_class.human_attribute_name(field.name))
        - (entity.association_attributes + entity.renderable_associations).each do |association|
          th.text-nowrap.text-center.pb-0
            = sort_link(@q, association.sort_field, model_class.human_attribute_name(association.name))
      tr.filters
        th.text-nowrap.align-middle.px-0.py-1
          = render 'schematics/application/filters/boolean', search_form: search_form, name: :with_deleted
        - (entity.renderable_fields - entity.association_attributes).each do |field|
          th.align-middle.text-center.px-0.py-1
            - case field
            - when Schematics::Attributes::Boolean
              = render 'schematics/application/filters/boolean', search_form: search_form, name: field.search_field
            - when Schematics::Virtuals::Calculation, Schematics::Attributes::Float
              = render 'schematics/application/filters/range', search_form: search_form, field: field, type: :number
            - when Schematics::Attributes::Date
              = render 'schematics/application/filters/range', search_form: search_form, field: field, type: :date
            - when Schematics::Attributes::Enum
              = render 'schematics/application/filters/enum', search_form: search_form, field: field
            - else
              = render 'schematics/application/filters/input', search_form: search_form, field: field
        - (entity.association_attributes + entity.renderable_associations).each do |association|
          th.align-middle.text-center.px-0.py-1
            = render 'schematics/application/filters/input', search_form: search_form, field: association
      tbody class=('table-bordered border-0' if @resources.any?) class=('animated slideInRight' if params[:page].present?)
        - if @resources.empty?
          tr
            td.text-center.pt-5 colspan="100%"
              = render 'empty'
        - else
          - @resources.each do |resource|
            tr class=('disabled' if resource.deleted?) data-href=(main_app.polymorphic_path(resource) unless resource.deleted?)
              td.text-nowrap.text-center
                .btn-group.enabled
                  - if resource.deleted?
                    = link_to fa_icon(:trash_restore),
                      main_app.polymorphic_path(resource),
                      method: :delete,
                      class: "btn btn-danger btn-sm",
                      data: { toggle: "tooltip", placement: "top", title: t('schematics.application.viewers.table.restore') }
                  - else
                    = link_to main_app.edit_polymorphic_path(resource),
                      class: "btn btn-primary btn-sm",
                      data: { toggle: "tooltip", placement: "top", title: t('schematics.application.viewers.table.edit') } do
                      = fa_icon :edit
                    = link_to fa_icon(:archive),
                      main_app.polymorphic_path(resource),
                      method: :delete,
                      class: "btn btn-danger btn-sm",
                      data: { toggle: "tooltip", placement: "top", title: t('schematics.application.viewers.table.archive') }
              - (entity.renderable_fields - entity.association_attributes).each do |field|
                td.text-nowrap.text-center.align-middle
                  - value = resource.instance_eval(field.name)
                  - case field
                  - when Schematics::Behaviours::Editable
                    = best_in_place resource,
                                    field.name.to_sym,
                                    as: field.input_type,
                                    inner_class: "form-control border p-0",
                                    collection: field.try(:input_collection),
                                    display_with: lambda { |value| field.format(value) }
                  - when Schematics::Attributes::Attachments
                    - value.with_deleted.each do |attachment|
                      = link_to attachment.filename, main_app.url_for(attachment), class: "pr-2"
                  - when Schematics::Attributes::Attachment
                    = link_to value.filename, main_app.url_for(value) if value.attached?
                  - when Schematics::Attributes::Boolean
                    = value ? fa_icon(:check, class: "text-success") : fa_icon(:times, class: "text-danger")
                  - else
                    = field.format(value)
              - entity.association_attributes.each do |attribute|
                td.text-nowrap.text-center.align-middle
                  = best_in_place resource,
                                  attribute.column_name.to_sym,
                                  as: attribute.input_type,
                                  collection: attribute.input_collection,
                                  inner_class: "form-control border p-0"
              - entity.renderable_associations.each do |association|
                td.text-nowrap.text-center.align-middle
                  - value = resource.instance_eval(association.name)
                  = link_to value, main_app.polymorphic_path(value) if value
