- begin
  = image_tag url_for(representation), class: css_class
- rescue MiniMagick::Error
  = I18n.t('errors.messages.image_metadata_missing').humanize
- rescue ActiveStorage::FileNotFoundError
  = I18n.t('titles.schematics.schema.not_found')
