- begin
  = image_tag attachment, class: css_class
- rescue StandardError => error
  - if replacement.present?
    = fa_icon replacement[:icon], size: replacement[:size], class: "align-middle"
  - else
    = fa_icon :exclamation_triangle, class: "mr-2"
    = error_message(error)
