button.btn.btn-sm.btn-icon-split.btn-danger.mb-3 {
  data-action='click->nested-form#remove:prevent'
  data-nested-form-wrapper-param=".nested-association-#{field.id}"
}
  span.icon = fa_icon :trash
  span.text = title
