- breadcrumb title, schematics.admin_path
.row
  .col-xl-3.col-md-6.mb-3
    .card.border-0
      .card-body.p-3
        .row.no-gutters.align-items-center
          .col.text-center.p-4
            = link_to main_app.licences_path, class: 'text-decoration-none' do
              = fa_icon :id_badge, size: '3x', class: 'd-inline-block'
              h5.my-4 = licence
              .text-muted Valable jusqu'au #{l(licence.expires_at, format: '%A %d %B %Y')}
  .col-xl-3.col-md-6.mb-3
    .card.border-0
      .card-body.p-3
        .row.no-gutters.align-items-center
          .col.text-center.p-4
            = link_to main_app.users_path, class: 'text-decoration-none' do
              = fa_icon :user, size: '3x', class: 'd-inline-block'
              h5.my-4 Quota utilisateurs
              .progress
                .progress-bar.progress-bar-striped.progress-bar-animated {
                  role='progressbar'
                  aria-valuenow=licence.users_size
                  aria-valuemin='0'
                  aria-valuemax=licence.quota.users
                  style="width: #{licence.quota_users_percentage}%"
                }
                  | #{licence.users_size} / #{licence.quota.users}
  .col-xl-3.col-md-6.mb-3
    .card.border-0
      .card-body.p-3
        .row.no-gutters.align-items-center
          .col.text-center.p-4
            = link_to main_app.directories_path, class: 'text-decoration-none' do
              = fa_icon :hdd, size: '3x', class: 'd-inline-block'
              h5.my-4 Quota stockage
              .progress
                .progress-bar.progress-bar-striped.progress-bar-animated {
                  role='progressbar'
                  aria-valuenow=licence.storage_size
                  aria-valuemin='0'
                  aria-valuemax=licence.quota.storage
                  style="width: #{licence.quota_storage_percentage}%"
                }
                  | #{number_to_human_size(licence.storage_size)} / #{number_to_human_size(licence.quota.storage)}
  .col-xl-3.col-md-6.mb-3
    .card.border-0
      .card-body.p-3
        .row.no-gutters.align-items-center
          .col.text-center.p-4
            = fa_icon :bezier_curve, size: '3x', class: 'd-inline-block text-primary'
            h5.text-primary.my-4 Quota resources
            .progress
              .progress-bar.progress-bar-striped.progress-bar-animated {
                  role='progressbar'
                  aria-valuenow=licence.entities_size
                  aria-valuemin='0'
                  aria-valuemax=licence.quota.entities
                  style="width: #{licence.quota_entities_percentage}%"
                }
                | #{licence.entities_size} / #{licence.quota.entities}
.row
  .col-xl-3.col-md-6.mb-3
    .card.border-0
      .card-body.p-3
        .row.no-gutters.align-items-center
          .col.text-center.p-4
            = link_to main_app.edit_settings_path, class: 'text-decoration-none' do
              = fa_icon :cog, size: '3x', class: 'd-inline-block'
              h5.my-4 Paramètres application
              .text-muted Gérer les paramètres de l'application
  .col-xl-3.col-md-6.mb-3
    .card.border-0
      .card-body.p-3
        .row.no-gutters.align-items-center
          .col.text-center.p-4
            = link_to edit_schema_path, class: 'text-decoration-none' do
              = fa_icon :paint_brush, size: '3x', class: 'd-inline-block'
              h5.my-4 = t('.schema')
              .text-muted Editeur du schéma de l'application
  .col-xl-3.col-md-6.mb-3
    .card.border-0
      .card-body.p-3
        .row.no-gutters.align-items-center
          .col.text-center.p-4
            = link_to main_app.grape_swagger_rails_path,
                      class: 'text-decoration-none',
                      data: { turbolinks: false } do
              = fa_icon :project_diagram, size: '3x', class: 'd-inline-block'
              h5.my-4 = t('.api')
              .text-muted Documentation de l'API pour les développeurs
  .col-xl-3.col-md-6.mb-3
    .card.border-0
      .card-body.p-3
        .row.no-gutters.align-items-center
          .col.text-center.p-4
            = link_to '/profiler/snapshots',
                      class: 'text-decoration-none',
                      data: { turbolinks: false } do
              = fa_icon :tachometer_alt, size: '3x', class: 'd-inline-block'
              h5.my-4 = t('.profiler')
              .text-muted Moniter les performances des endpoints de l'API
.row
  .col-xl-3.col-md-6.mb-3
    .card.border-0
      .card-body.p-3
        .row.no-gutters.align-items-center
          .col.text-center.p-4
            = link_to main_app.sidekiq_web_path,
                      class: 'text-decoration-none',
                      data: { turbolinks: false } do
              = fa_icon :tasks, size: '3x', class: 'd-inline-block'
              h5.my-4 = t('.sidekiq')
              .text-muted Gérer les tâches de fond de l'application (avancé)
