- breadcrumb title, schematics.admin_path
.row.g-3
  = component 'admin/widgets/licence'
  = component 'admin/widgets/quota_users'
  = component 'admin/widgets/quota_api_keys'
  = component 'admin/widgets/quota_storage'
  = component 'admin/widgets/quota_entities'
  = component 'admin/widgets/configuration'
  = component 'admin/widgets/migrations'
  = component 'admin/widgets/sessions'
  = component 'admin/widgets/documentation'
  = component 'admin/widgets/api_requests'
  = component 'admin/widgets/api_keys'
  = component 'admin/widgets/api_chart'
  = component 'admin/widgets/users'
  = component 'admin/widgets/user_groups'
  = component 'admin/widgets/roles'
  = component 'admin/widgets/permissions'
  = component 'admin/widgets/charts'
  = component 'admin/widgets/stats'
  = component 'admin/widgets/webhook_endpoints'
  = component 'admin/widgets/webhook_requests'
  = component 'admin/widgets/translations'
  = component 'admin/widgets/blog_posts'
