.row.g-3 data-controller='sortable' data-sortable-group-value='stats'
  = render Schematics::Onboarding::Component.new
  = render Schematics::Stat::Component.with_collection(@stats)
.row.g-3.pt-3 data-controller='sortable' data-sortable-group-value='charts'
  = render Schematics::Chart::Component.with_collection(@charts)
