.row
  - Schematics::Schema.instance.stats.each do |stat|
    .col-xl-3.col-md-6.mb-4
      .card.shadow-sm
        .card-body
          .row.no-gutters.align-items-center
            .col
              small.text-uppercase.text-truncate.text-primary.font-weight-bold
                = stat.title
              h5.mb-0.text-dark.text-truncate.font-weight-bold
                = stat
            .col-auto
              = link_to fa_icon(stat.icon, size: "2x"), main_app.url_for(stat.model_class), class: "text-light"
  - Schematics::Schema.instance.charts.each.with_index(1) do |chart, id|
    .col-xl-6.col-md-12.mb-4
      .card.shadow-sm
        .card-header.p-2
          h5.m-0.text-primary.text-truncate.font-weight-bold
            = fa_icon chart.icon, class: "mr-3 ml-3 fa-lg align-middle"
            span.align-middle= chart.title
        .card-body
          = send chart.type,
                 dashboard_chart_path(id),
                 xtitle: chart.x.title.humanize,
                 ytitle: chart.y.title.humanize,
                 suffix: chart.y.field&.try(:unit),
                 download: { filename: chart.title.parameterize }
