- if @results.empty?
  .card.shadow.mb-4
    .card-header
      h5.m-0.text-primary.font-weight-bold
        = fa_icon :search, class: "mr-2"
        | Recherche "#{params[:query]}"
    .card-body.text-center
      = render 'schematics/application/empty'
- else
  - @results.each do |type, resources|
    .card.shadow.mb-4
      a.card-header href="#collapse-#{type}" data-toggle="collapse" role="button"
        h5.m-0.text-primary.font-weight-bold
          = fa_icon :search, class: "mr-2"
          = type.titleize
          |  (#{resources.size})
      .collapse.show id="collapse-#{type}"
        .card-body
          = render 'schematics/application/table', resources: resources, table_entity: Schematics::SCHEMA.find_entity_by_type(type), actions: false
