= link_to fa_icon(:archive),
          polymorphic_path(@resource, action: :archive),
          method: :delete,
          class: 'btn btn-danger btn-sm',
          title: t('.title'),
          data: { 'bs-toggle': 'tooltip', 'bs-placement': 'top' }
