.btn-group.enabled
  - if @resource.deleted?
    - if can?(:restore, @resource)
      = link_to fa_icon(:trash_restore),
                polymorphic_path(@resource, action: :restore),
                method: :delete,
                class: 'btn btn-danger btn-sm',
                data: { toggle: 'tooltip', placement: 'top', title: t('schematics.application.button.tooltip.restore') }
  - else
    - if can?(:update, @resource)
      = link_to edit_polymorphic_path(@resource),
                class: 'btn btn-primary btn-sm',
                data: { toggle: 'tooltip', placement: 'top', title: t('schematics.application.button.tooltip.edit') } do
                  = fa_icon :edit
    = render Schematics::Viewer::EventButtonGroup::Component.new(resource: @resource)
    - if can?(:archive, @resource)
      = link_to fa_icon(:archive),
                polymorphic_path(@resource, action: :archive),
                method: :delete,
                class: 'btn btn-danger btn-sm',
                data: { toggle: 'tooltip', placement: 'top', title: t('schematics.application.button.tooltip.archive') }
    - elsif can?(:destroy, @resource)
      - if resource_associations.any?
        = link_to fa_icon(:trash),
                  polymorphic_path(@resource, action: :delete),
                  class: 'btn btn-danger btn-sm',
                  data: { toggle: 'tooltip', placement: 'top', title: t('schematics.application.button.destroy') }
      - else
        = link_to fa_icon(:trash),
                  polymorphic_path(@resource),
                  method: :delete,
                  class: 'btn btn-danger btn-sm',
                  data: confirm_data.merge(toggle: 'tooltip', placement: 'top', title: t('schematics.application.button.destroy'))
