.btn-group
  - if deleted?
    = component('button/restore', resource:)
  - else
    = component('button/edit', resource:)
    = component('viewer/event_button_group', resource:)
    = component('button/archive', resource:)
