#documentation.offcanvas.offcanvas-end.body-bg-tertiary data-controller='offcanvas' tabindex='-1' data-bs-scroll='true'
  .offcanvas-header
    = render Schematics::CardHeading::Component.new(icon:, title:)
    button.btn-close.text-reset.ms-2 aria-label='Close' data-bs-dismiss='offcanvas' type='button'
  .offcanvas-body.p-0
    = render Schematics::Viewer::Specifications::Entity::Component.new(entity:)
