= public_send @resource.type,
              chart_path(@resource),
              id: @resource.css_id,
              xtitle: @resource.xtitle,
              ytitle: @resource.ytitle,
              suffix: @resource.suffix,
              nonce: content_security_policy_nonce,
              download: { filename: @resource.filename },
              dataset: { borderWidth: @resource.border_width }
