- breadcrumb title, edit_one_time_passwords_path
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.px-1.py-2
    = __card_heading(icon: :mobile_screen, title:)
  .card-body.p-3.pt-1
    = __one_time_password_form
