- breadcrumb title, new_one_time_passwords_path
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.px-2.py-1
    = component :card_heading, icon: :mobile_screen, title:
  .card-body.p-3
    = component :one_time_password_form
