- breadcrumb title, one_time_passwords_path
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.p-2
    .row.align-items-center
      .col.text-truncate.px-1
        = __card_heading(icon: :floppy_disk, title:)
      .col-auto
        = __button_destroy_otp
  .card-body.p-0
    ul.list-group.list-group-striped
      - current_user.otp_backup_codes.each do |code|
        li.list-group-item = code
