.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.px-2.py-1
    = render Schematics::CardHeading::Component.new(icon:, title:)
  .card-body.p-0
    = render Schematics::Viewer::Specifications::Entity::Component.with_collection(entities)
