source "https://rubygems.org"

<%- if env.development? -%>
gem "web-console", group: :development
gem "schematics", path: "<%= root_path %>"
<%- else -%>
gem "schematics", ENV['CI'] && { github: "back-office-pro/schematics" }
<%- end -%>
