- if qr_code
  .alert.alert-secondary
    = fa_icon :circle_info, class: 'me-3'
    = t('.info')
= bootstrap_form_with model:, url:, scope: do |form|
  .text-center == qr_code&.as_svg(module_size: 4)
  = component 'resource_form/fields/digest', form:, name: :otp_attempt
  = component 'button/confirm'
  = component 'button/cancel', path: root_path
