- begin
  = image_tag attachment, class: @css_class, data: { toggle: 'tooltip', placement: 'top', title: @title }
- rescue StandardError => e
  - if @replacement.present?
    = fa_icon(@replacement[:icon], size: @replacement[:size], class: 'align-middle')
  - else
    = fa_icon(:exclamation_triangle, class: 'mr-2')
    - case e
    - when MiniMagick::Error
      = t('.minimagick_error')
    - when ActiveStorage::FileNotFoundError
      = t('.active_storage_file_not_found_error')
