- begin
  = image_tag attachment, data:, **@kwargs
- rescue StandardError => e
  - if @replacement.present?
    = fa_icon icon, size:, data:, **@kwargs
  - else
    = fa_icon :exclamation_triangle, class: 'me-2'
    - case e
    - when MiniMagick::Error
      = t('.minimagick_error')
    - when ActiveStorage::FileNotFoundError
      = t('.active_storage_file_not_found_error')
