- breadcrumb title, schematics.edit_schema_path
.card.shadow-sm.border-0
  .card-header.border-top-0.border-start-0.border-end-0.px-2.py-1
    = render Schematics::CardHeading::Component.new(icon: :paint_brush, title:)
  .card-body.p-0
