.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.px-2.py-1
    = render Schematics::CardHeading::Component.new(icon:, title:)
  .card-body
    - migrator_build_commands.map(&:to_spec).each do |command|
      .text-success
        = fa_icon :plus, class: 'fa-fw me-2'
        = command
    - migrator_clean_commands.map(&:to_spec).each do |command|
      .text-danger
        = fa_icon :minus, class: 'fa-fw me-2'
        = command
