/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

= bootstrap_form_with model: schema, scope: :migration, url:, class: css_classes, method: form_method, data: do |form|
  = __schema_editor_template_entity(form:)
  = __schema_editor_template_virtual(form:)
  = __schema_editor_template_trigger(form:)
  = __schema_editor_template_association_has_and_belongs_to_many(form:)
  = __schema_editor_template_attribute(attributes_collection, form:)
  = __schema_editor_template_attribute(:belongs_to_has_one, form:)
  = __schema_editor_errors(errors:)
  .row.g-3.pb-3#entities data-nested-form-target='targets'
    = form.fields_for :entities, entities do |builder|
      = __schema_editor_entity(builder:)
  = __button_confirm
  = __button_cancel(path: resource_path(resource))
