= simple_form_for Schematics::Schema.instance,
                  as: :schema_dataset,
                  url: schema_datasets_path,
                  method: :post,
                  wrapper: :input_group,
                  validate: true,
                  html: { data: { 'auto-save-target': 'form' } } do |form|
  .row
    .col
      .tab-content.entities
        = form.simple_fields_for :entities, entities do |builder|
          = render Schematics::SchemaEditor::Entity::Component.new(builder:)
    .col-auto
      = render Schematics::SchemaEditor::Tabs::Component.new(form:)
      = render Schematics::Button::Confirm::Component.new
      = render Schematics::Button::Cancel::Component.new(path: ::SchemaDataset)
