.row.justify-content-center
  .col-xl-9.col-md-12
    ul.timeline.list-unstyled
      - model.each do |version|
        li
          .timeline-icon.bg-primary.border.shadow-sm
            = link_to fa_icon(version.icon, size: "2x"), version.model_class, class: "text-light"
          .card.shadow-sm
            .card-body data-target=("#diffModal-#{version.id}" if version.event == "update")
              = cell('schematics/timeline/difference', version).() if version.event == "update"
              = cell('schematics/timeline/version', version).()
