/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

.table-responsive.rounded-bottom data-controller='comparison bulk-action'
  table.table.table-borderless.mb-0 class=table_css_classes
    = __filter(model_class:)
    tbody class=tbody_css_classes
      - if resources.empty?
        tr
          td.pt-4 colspan='100%'
            = __empty_resource
      - else
        - resources.each do |resource|
          = __viewer_resource_link(resource:, tag_name: :tr) do |c|
            - c.with_body do
              td.col-1.text-nowrap.px-2.py-0.align-middle.start-0.sticky-top
                .d-inline-flex
                  = __viewer_switch_button_group(resource:, resources:)
                  = __viewer_action_button_group(resource:)
              - elements.each do |element|
                td.col-2.text-truncate.text-center.align-middle.animate__slideInDown class=col_preference_class(element)
                  = __resource_details_element(resource:, element:)
