= link_to render(Schematics::Attachment::Component.create_avatar(attachment: @message.author.avatar)), @message.author
.ml-3
  .text-truncate = link_to(@message.subject, @message)
  .text-truncate = @message.content.to_plain_text
  .text-muted.small #{@message.author.full_name} - #{timeago_tag(@message.created_at, force: true)}
