.sidebar-sticky
  ul.nav.nav-light.flex-column
    li.nav-item.mb-4
      = link_to setting(:company_name),
        root_path,
        class: "sidebar-brand d-flex align-items-center text-white text-nowrap justify-content-center"
    - entities.each do |entity|
      - model_class = entity.class_name.constantize
      li.nav-item.text-center.mw-100.mb-2
        = active_link_to polymorphic_path(model_class),
          class: "nav-link p-0 m-0 text-secondary text-nowrap" do
          = fa_icon entity.icon, size: "2x"
          .mt-2.d-none.d-md-block= model_class.model_name.human.pluralize
      - if !entity.is_a?(Schematics::Entities::Singleton) && is_active_link?(polymorphic_path(model_class))
        - entity.enum_attributes.each do |attribute|
          li.nav-item.text-center.mw-100.mb-2.px-3.d-none.d-md-block
            ul.list-group
              - attribute.values.each do |value|
                = active_link_to polymorphic_path(model_class, "by_#{attribute.name}": value),
                                active: :exact,
                                class: "nav-link p-0 m-0 text-secondary text-truncate segment" do
                  li.list-group-item.d-flex.justify-content-between.align-items-center.px-2.py-1.border-0.bg-transparent
                    span
                      = fa_icon :caret_right, class: "mr-2"
                      = attribute.format(value)
                    span.badge.badge-secondary.text-primary= model_class.send(:"#{attribute.name}_#{value}").count
      li.nav-item.mb-2
  button#sidebar-toggle.btn.btn-block.btn-primary.rounded-0.border-0.text-right.py-3
    .d-none.d-md-block.mr-3= fa_icon :chevron_left, class: "fa-lg"
    .d-none.mr-3= fa_icon :chevron_right, class: "fa-lg"
