.col-xl-6.col-md-12
  .card.border-0.animate__animated.animate__zoomIn
    .card-body.p-3.m-1
      .row.g-0.align-items-center
        .col-auto
          = render Schematics::CardHeading::Component.new(icon:, title:)
        .col
          = render Schematics::Button::Add::Component.new(model_class:)
