.modal.fade {
  id=target
  data-controller='modal'
  aria-hidden='true'
  aria-labelledby="#{target}-label"
  tabindex='-1'
}
  .modal-dialog.modal-dialog-centered
    .modal-content.border-0.shadow-sm
      .modal-header
        = render Schematics::CardHeading::Component.new(icon:, title:)
        button.btn-close aria-label='Close' data-bs-dismiss='modal' type='button'
      .modal-body
        = builder.fields_for :options do |options_form|
          - available_options.each do |option|
            - case option.input_type
            - when :boolean
              = options_form.check_box option.name, { switch: true }, 'true', 'false'
            - when :string
              = options_form.text_field option.name, floating: true
            - when :integer
              = options_form.number_field option.name, floating: true
            - when :select
              = options_form.select option.name, option.collection, {}, { data: { controller: 'dropdown' } }
            - when :array
              = render Schematics::SchemaEditor::Options::Array::Component.new(builder: options_form, name: option.name)
            - when :events
              = render Schematics::SchemaEditor::Options::Events::Component.new(builder: options_form)
