- breadcrumb record.to_s, record
- breadcrumb title, edit_polymorphic_path(@resource)
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.px-2.py-1
    .row.align-items-center
      .col.text-truncate
        = __card_heading(icon: model_class.entity.icon, title:)
      .col-auto
        = __button_stale(resource: @resource)
  .card-body.p-3
    = __resource_form(resource: @resource, cancel_path: record)
