- breadcrumb record.to_s, record
- breadcrumb title, new_polymorphic_path([record, Core::Comment], format: nil)
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.px-2.py-1
    .row.align-items-center
      .col.text-truncate
        = render Schematics::CardHeading::Component.new(icon: Core::Comment.entity.icon, title:)
  .card-body.p-3
    - url = polymorphic_path([record, Core::Comment], format: nil)
    = render Schematics::ResourceForm::Component.new(resource: @resource, url:, cancel_path: record)
