<% if Tenant.ssl? %>
server {
  server_name <%= Tenant.host %>;
  listen [::]:443 ssl default_server;
  listen 443 ssl default_server;

  location / {
    proxy_pass http://localhost:<%= Tenant.env_port %>;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }

  ssl_certificate <%= Tenant.ssl_path.join('fullchain.pem') %>;
  ssl_certificate_key <%= Tenant.ssl_path.join('privkey.pem') %>;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}
<% else %>
server {
  server_name <%= Tenant.host %>;
  listen 80 default_server;
  listen [::]:80 default_server;

  location / {
    proxy_pass http://localhost:<%= Tenant.env_port %>;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }
}
<% end %>
