li.nav-item.dropdown.align-items-center.px-3.border-start.border-light.d-none.d-sm-flex
  a#online-users-dropdown.nav-link.dropdown-toggle {
    aria-expanded='false'
    data-bs-toggle='dropdown'
    href='#'
    role='button'
  }
    .position-relative
      = fa_icon :users, class: 'fa-lg'
      .badge.bg-primary.rounded-pill.position-absolute.top-0.start-100.translate-middle.animate__animated.animate__zoomIn
        = users.size
  .dropdown-menu.border-0.shadow-sm.dropdown-menu-end.animate__animated.animate__zoomIn.p-0.mt-2 {
    aria-labelledby='online-users-dropdown'
  }
    h5.dropdown-header.fw-bold
      = t('.title')
    .pre-scrollable.overflow-scroll
      - users.each do |user|
        .dropdown-item
          = render Schematics::OnlineUsersCenter::Preview::Component.new(user:)
