<% if Dir.exist?(Tenant.letsencrypt_path) %>
server {
  server_name <%= Tenant.host %>;
  listen 80;
  listen [::]:80;

  location / {
    return 301 https://<%= Tenant.host %>$request_uri;
  }
}

server {
  server_name www.<%= Tenant.host %>;
  listen 80 default_server;
  listen [::]:80 default_server;

  location / {
    return 301 https://www.<%= Tenant.host %>$request_uri;
  }
}

server {
  server_name <%= Tenant.host %>;
  listen [::]:443 ssl;
  listen 443 ssl;

  location / {
    return 301 https://www.<%= Tenant.host %>$request_uri;
  }

  ssl_certificate <%= Tenant.letsencrypt_path %>/fullchain.pem;
  ssl_certificate_key <%= Tenant.letsencrypt_path %>/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
  server_name www.<%= Tenant.host %>;
  listen [::]:443 ssl default_server;
  listen 443 ssl default_server;

  location / {
    proxy_pass https://<%= Tenant.subdomain %>.localhost;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }

  ssl_certificate <%= Tenant.letsencrypt_path %>/fullchain.pem;
  ssl_certificate_key <%= Tenant.letsencrypt_path %>/privkey.pem;
  include /etc/letsencrypt/options-ssl-nginx.conf;
  ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}
<% else %>
server {
  server_name <%= Tenant.host %>;
  listen 80;
  listen [::]:80;

  location / {
    proxy_pass http://<%= Tenant.subdomain %>.localhost;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }
}
<% end %>
