.card.shadow-sm.border-0.mt-3
  a.card-header.border-top-0.border-left-0.border-right-0.border-light.px-2.py-1 {
    class=card_header_css_class
    href="##{id}"
    data-toggle='collapse'
    role='button'
  }
    .row.align-items-center
      .col.text-truncate
        = render Schematics::CardHeading::Component.new(icon:, title:)
      .col-auto.mr-3
        .badge.badge-light.text-dark.p-2.mr-3 = @resources.size
  .collapse class=collapse_css_class id=id
    .card-body.p-0
      .table-responsive
        table.table.mb-0.table-striped.table-hover
          thead.border-bottom.border-light
            tr
              th.text-nowrap.text-center.align-middle
              - entity.listable_elements.stable_sort_by(&:weight).each do |field|
                th.text-nowrap.text-center.align-middle class=col_preference_class(field)
                  = fa_icon field.icon, class: 'mr-2 text-dark'
                  = model_class.human_attribute_name(field.name)
          tbody
            - @resources.each do |resource|
              tr data-href=polymorphic_path(resource)
                td.text-nowrap.text-center
                  .btn-group
                    = render Schematics::Button::Edit::Component.new(resource:)
                    = render Schematics::Button::Archive::Component.new(resource:)
                    = render Schematics::Button::DestroyAttachment::Component.new(resource: resource.try(:record), attachment: resource)
                - entity.listable_elements.stable_sort_by(&:weight).each do |field|
                  td.text-nowrap.text-center.align-middle class=col_preference_class(field)
                    = render Schematics::Resource::Component.new(resource:, field:, highlight: @highlight)
