.accordion.shadow-sm.mt-3
  .accordion-item.border-0
    .accordion-header
      button.accordion-button.py-1.pe-3.ps-2 {
        type='button'
        data-bs-toggle='collapse'
        data-bs-target="##{id}"
        aria-expanded='true'
        aria-controls=id
        class=header_button_css_class
      }
        = render Schematics::CardHeading::Component.new(icon:, title:)
        .badge.bg-primary.text-white.p-2.me-3 = @resources.size
  .accordion-collapse.collapse class=collapse_css_class id=id
    .accordion-body.p-0
      .table-responsive
        table.table.mb-0.table-striped.table-hover.table-borderless data-controller='resizable-table'
          thead.border-bottom.border-light
            tr
              th.text-nowrap.text-center.align-middle
              - entity.listable_elements.stable_sort_by(&:weight).each do |field|
                th.text-nowrap.text-center.align-middle class=col_preference_class(field) data-rtc-resizable=field.name
                  = fa_icon field.icon, class: 'me-2 text-secondary'
                  = model_class.human_attribute_name(field.name)
          tbody.border-0
            - @resources.each do |resource|
              tr data-href=polymorphic_path(resource)
                td.text-nowrap.px-2.py-0.align-middle.start-0.sticky-top
                  .btn-group
                    = render Schematics::Button::Edit::Component.new(resource:)
                    = render Schematics::Button::Archive::Component.new(resource:)
                    = render Schematics::Button::DestroyAttachment::Component.new(resource: resource.try(:record), attachment: resource)
                - entity.listable_elements.stable_sort_by(&:weight).each do |field|
                  td.text-nowrap.text-center.align-middle class=col_preference_class(field)
                    = render Schematics::Resource::Component.new(resource:, field:, highlight: @highlight)
