button.btn.btn-sm.btn-icon-split.pe-none.d-none data-auto-save-target='button'
  span.icon = fa_icon(icon)
  span.text.d-none.d-lg-inline
    = t('.text')
    span.ms-1 data-controller='timeago' data-auto-save-target='timeago'
