button.btn.btn-sm.btn-icon-split.ms-1 {
  data-bs-toggle='modal'
  data-bs-target='#forward-modal'
  data-controller='tooltip'
  data-bs-title=title
  data-bs-custom-class='responsive-button-tooltip-xxl'
}
  span.icon = fa_icon :paper_plane
  span.text.d-none.d-xxl-inline = title
