- breadcrumb title, schematics.search_path, match: :inclusive
- if @results.empty?
  .card.shadow-sm.border-0.mb-3
    .card-header.border-top-0.border-left-0.border-right-0.border-light.px-2.py-1
      = render Schematics::CardHeading::Component.new(icon: :search, title:)
    .card-body.text-center.p-3
      = render Schematics::EmptyResource::Component.new(suggestions: @suggestions)
- else
  - @results.each do |_name, resources|
    = render Schematics::Viewer::Association::Component.new(resources:)
