- breadcrumb title, schematics.search_path, match: :inclusive
- if @results.empty?
  .card.shadow-sm.mb-4
    .card-header.p-2
      h5.m-0.text-primary.text-truncate.font-weight-bold
        = fa_icon :search, class: "mr-3 ml-3 fa-lg align-middle"
        span.align-middle= title
    .card-body.text-center
      = cell('schematics/empty', @suggestions).()
- else
  - @results.each do |name, resources|
    = cell('schematics/viewers/association', resources, ability: current_ability).()
