- @element.options.each do |(key, value)|
  li.list-group-item
    - @indent.times do
      = fa_icon @icon, class: 'invisible me-2'
    = fa_icon @icon, class: 'me-2'
    - case [key, value]
    - in [*, TrueClass]
      = human_attribute_name(key)
    - in [:events, *]
      = human_attribute_name(key)
      - @element.events.each do |event|
        li.list-group-item
          - @indent.next.times do
            = fa_icon :repeat, class: 'invisible me-2'
          = fa_icon :repeat, class: 'me-2'
          == interpolate(event)
    - in [*, Array]
      = human_attribute_name(key)
      span.ms-1.fw-bold = value.to_sentence
    - in [*, String]
      = human_attribute_name(key)
      span.ms-1.fw-bold = value.humanize.downcase
    - else
      = human_attribute_name(key)
      span.ms-1.fw-bold = value
