.input-group.mx-1.mb-2.mt-1
  = search_field_tag filter_name,
                     value,
                     placeholder: placeholder,
                     class: "form-control typeahead-filter bg-light border-success #{'border-0' unless active?}"
