- if message.present?
  .toast.shadow-sm.w-50 aria-atomic="true" aria-live="assertive" role="alert" class="border-#{css_class}"
    .toast-header.text-white class="bg-#{css_class}"
      span
        = fa_icon :bell
      strong.mr-auto.ml-2.align-middle= title
      button.ml-2.mb-1.close aria-label="Close" data-dismiss="toast" type="button" 
        = fa_icon :check, class: "fa-xs"
    .toast-body
      = message
