/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

.carousel.slide.z-0 id=id data-bs-ride='carousel'
  .carousel-inner
    - attachments.each_with_index do |attachment, index|
      = __viewer_resource_link(resource:, css_classes: css_classes(index)) do |c|
        - c.with_body do
          .d-inline-block.text-body-tertiary.carousel-placeholder
            = __attachment(attachment:, class: 'rounded')
  button.carousel-control-prev type='button' data-bs-slide='prev' data-bs-target="##{id}"
    span.carousel-control-prev-icon aria-hidden='true'
    span.visually-hidden &#x3c;
  button.carousel-control-next type='button' data-bs-slide='next' data-bs-target="##{id}"
    span.carousel-control-next-icon aria-hidden='true'
    span.visually-hidden &#x3e;
