.fixed-top.p-3
  .toast.border-0.shadow-sm {
    data-controller='toast'
    aria-atomic='true'
    aria-live='assertive'
    role='alert'
    data-bs-animation="#{animated?}"
  }
    .toast-header.text-white class="bg-#{css_class}"
      span
        = fa_icon :bell
      strong.me-auto.ms-2.align-middle = t(".#{type}")
      button.ms-2.mb-1.btn-close.btn-close-white aria-label='Close' data-bs-dismiss='toast' type='button'
    .toast-body
      = message
