/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

.fixed-top.p-3
  .toast.shadow-sm {
    data-controller='toast'
    aria-atomic='true'
    aria-live='assertive'
    role='alert'
  }
    .toast-header.text-white class="bg-#{css_class}"
      span
        = fa_icon :bell
      strong.me-auto.ms-2.align-middle = t(".#{type}")
      button.ms-2.mb-1.btn-close.btn-close-white aria-label='Close' data-bs-dismiss='toast' type='button'
    .toast-body
      = message
