- case value
- when Hash
  table.table.mb-0.table-striped.table-borderless
    tbody
      - value.each do |key, value|
        tr
          th = key
          td = __viewer_json(value:)
- else
  = value
