= form_with model: @resource, data: { turbo_frame: frame_id } do
  = turbo_frame_tag frame_id, class: 'd-flex' do
    = link_to edit_polymorphic_path(@resource), class: 'edit-in-place text-decoration-none' do
      = render Schematics::Resource::Component.new(resource: @resource, field: @field, highlight: @highlight, editable: true)
