- case @field
- when Schematics::Associations::Association, Schematics::Attributes::Association
  - if value.present?
    - if value.deleted?
      .text-muted
        = fa_icon :archive, class: 'mr-2'
        = value
    - else
      = link_to(value, value)
- when Schematics::Attributes::Jsonb
  - if value
    table
      - value.each do |key, value|
        tr
          th = key
          td = value
- when Schematics::Attributes::Address
  = render Schematics::GoogleMap::Component.new(address: value)
- when Schematics::Attributes::Attachments
  = render Schematics::Viewer::Association::Component.new(resources: value, collapsed: true)
- when Schematics::Attributes::Attachment
  - if value.attached?
    = render Schematics::Button::DestroyAttachment::Component.new(resource: @resource, attachment: value.attachment) if editable?
    - if value.representable?
      = render Schematics::Attachment::Component.new(attachment: value)
    - else
      = link_to value.filename, value
- when value.is_a?(StandardError) && Schematics::Virtuals::Virtual
  span.text-danger
    = fa_icon(:exclamation_triangle, class: 'mr-2')
    = @field.format(value)
- when Schematics::Attributes::Boolean, Schematics::Virtuals::Comparison
  - case value
  - when TrueClass
    = fa_icon(:check, class: 'text-success')
  - when FalseClass
    = fa_icon(:times, class: 'text-danger')
- when Schematics::Attributes::RichText
  == value
- when Schematics::Attributes::Country
  - if editable?
    = best_in_place @resource,
                    @field.column_name.to_sym,
                    as: @field.input_type,
                    inner_class: 'form-control border-0 bg-light',
                    collection: @field.input_collection,
                    display_with: ->(value) { tag.span(class: "fi fi-#{value.downcase}") }
  - else
    = tag.span(class: "fi fi-#{value.downcase}")
- when editable? && Schematics::Behaviours::Editable
  = best_in_place @resource,
                  @field.column_name.to_sym,
                  as: @field.input_type,
                  inner_class: 'form-control border-0 bg-light',
                  collection: @field.try(:input_collection),
                  display_with: (->(value) { @field.format(value) } unless @field.is_a?(Schematics::Attributes::Association))
- when Schematics::Behaviours::Searchable
  = highlight @field.format(value), params[:query]
- else
  = @field.format(value)
