- case @field
- when Schematics::Associations::Association, Schematics::Attributes::Association
  - if value
    - if value.deleted?
      .text-muted
        = fa_icon :box_archive, class: 'me-2'
        = value
    - else
      = link_to(value.to_s, value)
- when Schematics::Attributes::Jsonb
  - case value
  - when Schematics::Schema
    = render Schematics::Viewer::Schema::Component.new(schema: value)
  - when ::Hash
    table
      - value.each do |key, value|
        tr
          th = key
          td = value
- when Schematics::Attributes::Url
  = render Schematics::LinkPreview::Component.new(url: value)
- when Schematics::Attributes::Address
  = render Schematics::GoogleMap::Component.new(address: value)
- when Schematics::Attributes::Color
  .btn.p-2.pe-none style="background: #{value};"
- when Schematics::Attributes::Attachments
  = render Schematics::Viewer::Association::Component.new(resources: value, highlight: @highlight)
- when Schematics::Attributes::Blob
  = render Schematics::Button::DestroyAttachment::Component.new(resource: @resource, attachment: value.attachment) if enable_buttons?
  - if value.representable?
    = render Schematics::AttachmentPreviewModal::Component.new(attachment: value, icon: @field.icon)
    span data-bs-toggle='modal' data-bs-target="#attachment-preview-modal-#{value.id}"
      = render Schematics::Attachment::Component.new(attachment: value, class: 'rounded', role: 'button')
  - else
    = link_to value.filename, value
- when Schematics::Attributes::Attachment
  - if value.attached?
    = render Schematics::Button::DestroyAttachment::Component.new(resource: @resource, attachment: value.attachment) if enable_buttons?
    - if value.representable?
      = render Schematics::AttachmentPreviewModal::Component.new(attachment: value, icon: @field.icon)
      span data-bs-toggle='modal' data-bs-target="#attachment-preview-modal-#{value.id}"
        = render Schematics::Attachment::Component.new(attachment: value, class: 'rounded', role: 'button')
    - else
      = link_to value.filename, value
- when value.is_a?(StandardError) && Schematics::Virtuals::Virtual
  span.text-danger
    = fa_icon(:triangle_exclamation, class: 'me-2')
    = @field.format(value)
- when Schematics::Attributes::Boolean, Schematics::Virtuals::Comparison
  - case value
  - when TrueClass
    = fa_icon(:check, class: 'text-success')
  - when FalseClass
    = fa_icon(:xmark, class: 'text-danger')
- when Schematics::Attributes::StateMachine
  h5.mb-0
    span.badge.bg-secondary = @field.format(value)
- when Schematics::Attributes::RichText
  == value
- when Schematics::Attributes::Country
  span.fi.rounded class="fi-#{value&.downcase}"
- when Schematics::Attributes::Rating
  == stars(value)
- when Schematics::Attributes::Token
  = render Schematics::Button::Clipboard::Component.new(value:)
- when Schematics::Behaviours::Searchable
  = highlight @field.format(value), @highlight
- else
  = @field.format(value)
