button.btn.btn-sm.btn-primary.me-2.dropdown-toggle aria-expanded='false' data-bs-toggle='dropdown'
  = fa_icon :plus
.dropdown-menu.border-0.shadow-sm.animate__animated.animate__zoomIn
  .dropdown-item {
    data-action='click->nested-form#add:prevent'
    data-nested-form-template-param="schema-editor-attribute-#{index}"
    role='button'
  } = t('.add_attribute')
  .dropdown-item {
    data-action='click->nested-form#add:prevent'
    data-nested-form-template-param="schema-editor-virtual-#{index}"
    role='button'
  } = t('.add_virtual')
  .dropdown-item {
    data-action='click->nested-form#add:prevent'
    data-nested-form-template-param="schema-editor-trigger-#{index}"
    role='button'
  } = t('.add_trigger')
