= turbo_frame_tag 'timeline', data: { turbo_action: 'advance' } do
  .row.justify-content-center.mt-4
    .col-xl-9.col-md-12.position-relative
      ul.timeline.list-unstyled
        - @versions.each do |version|
          li
            .timeline-icon.bg-primary
              = fa_icon version.icon, size: '2x', class: 'text-light'
            .card.border-0
              .card-body.p-3
                = render Schematics::VersionPreview::Component.new(version:)
  = render Schematics::Viewer::Pagination::Component.new(pagy: @pagy)
