- events.each do |event|
  = link_to polymorphic_path([event.state_machine_name.to_sym, event.name.to_sym, resource], format: nil),
            title: event.human,
            data:,
            class: css_classes_for(event) do
              span.icon = fa_icon event.icon, class: icon_class
              span.text.d-none.d-lg-inline = event.human unless compact?
