- events.each do |event|
  = link_to polymorphic_path(resource, action: event.name),
            title: (event.human if compact?),
            data:,
            class: css_classes do
              span.icon = fa_icon event.icon
              span.text.d-none.d-lg-inline = event.human unless compact?
