- events.each do |event|
  = link_to path_for(event),
            title: event.human,
            data:,
            class: css_classes_for(event) do
              span.icon = fa_icon event.icon, class: icon_class
              span.text.d-none.d-lg-inline = event.human unless compact?
