/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

- breadcrumb title, new_import_resource_path(parent_model_class)
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.p-2
    .row.align-items-center
      .col.text-truncate.px-1
        = __card_heading(icon: model_class.entity.icon, title:)
      .col-auto
        = __button_help(model_class:)
        = __button_generate_file_in_background(:csv_template)
  .card-body.p-3.pt-1
    - url = import_resource_path(parent_model_class)
    = __resource_form(resource: @resource, url:, attributes:, cancel_path: resources_path(parent_model_class))
