ul.list-group.list-group-striped
  = component 'viewer/specifications/section', element: @entity, options: true
  = component 'viewer/specifications/section', fields, indent: 1, options: true
  = component 'viewer/specifications/section', associations, indent: 1
  = component 'viewer/specifications/section', triggers, icon: :atom, indent: 1
