.mb-3 data-controller='nested-form'
  = builder.label name, class: 'form-label'
  template#nested-form-array-input data-nested-form-target='templates'
    .input-group.nested-form-array-input.mb-1
      = builder.fields_for name do |values_form|
        = values_form.text_field nil, wrapper: false
        button.btn.btn-sm.btn-danger {
          data-action='click->nested-form#remove:prevent:stop'
          data-nested-form-wrapper-param='.nested-form-array-input'
          data-controller='tooltip'
          data-bs-toggle='tooltip'
          data-bs-title=t('.remove')
        } = fa_icon :trash
  #nested-form-array-inputs data-nested-form-target='targets'
    - values.each do |value|
      .input-group.nested-form-array-input.mb-1
        = builder.fields_for name do |values_form|
          = values_form.text_field nil, value:, wrapper: false
          .btn.btn-sm.btn-danger {
            data-action='click->nested-form#remove:prevent:stop'
            data-nested-form-wrapper-param='.nested-form-array-input'
            data-controller='tooltip'
            data-bs-toggle='tooltip'
            data-bs-title=t('.remove')
          } = fa_icon :trash
  .btn.btn-sm.btn-primary {
    data-action='click->nested-form#add:prevent'
    data-nested-form-template-id-param='nested-form-array-input'
    data-nested-form-target-id-param='nested-form-array-inputs'
    data-controller='tooltip'
    data-bs-toggle='tooltip'
    data-bs-title=t('.add')
  } = fa_icon :plus
