.accordion.shadow-sm.mt-3.animate__animated.animate__zoomIn
  .accordion-item
    .accordion-header
      button.accordion-button.py-1.pe-3.ps-2 {
        type='button'
        data-bs-toggle='collapse'
        data-bs-target="##{id}"
        aria-expanded='true'
        aria-controls=id
      }
        = component :card_heading, icon:, title:
    .accordion-collapse.collapse.show id=id
      .accordion-body
        == value
