li.nav-item.dropdown.no-arrow.d-flex.align-items-center.pl-2.border-left.border-light
  a#account-dropdown.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
    span.d-none.d-lg-inline.mr-2= current_user.full_name
    = render Schematics::Attachment::Component.create_avatar(attachment: current_user.avatar)
  .dropdown-menu.dropdown-menu-right.animate__animated.animate__zoomIn.shadow-sm.p-0.mt-2 aria-labelledby="account-dropdown"
    h5.dropdown-header.font-weight-bold.bg-light= t('.title')
    = link_to profile_path, class: "dropdown-item" do
      = fa_icon :user, class: "mr-3"
      = t('.edit_profile')
    = link_to edit_preferences_path, class: "dropdown-item" do 
      = fa_icon :bell, class: "mr-3"
      = t('.edit_preferences')
    - if can?(:read, Setting)
      = link_to edit_settings_path, class: "dropdown-item" do
        = fa_icon :cog, class: "mr-3"
        = t('.settings')
    - if admin?
      = link_to grape_swagger_rails_path, data: { turbolinks: false }, class: "dropdown-item" do
        = fa_icon :project_diagram, class: "mr-3"
        = t('.api')
    .dropdown-divider.m-0
    = link_to logout_path, method: :delete, class: "dropdown-item pb-2" do
      = fa_icon :sign_out_alt, class: "mr-3"
      = t('.logout')
