li.nav-item.dropdown.no-arrow.d-flex.align-items-center.pl-2.border-left.border-light
  a#account-dropdown.nav-link.dropdown-toggle aria-expanded='false' aria-haspopup='true' data-toggle='dropdown' href='#' role='button'
    span.d-none.d-lg-inline.align-middle.mr-2 = current_user.full_name
    = render Schematics::Attachment::Component.build_avatar(attachment: current_user.avatar)
  .dropdown-menu.border-0.shadow-sm.dropdown-menu-right.animate__animated.animate__zoomIn.p-0.mt-2 aria-labelledby='account-dropdown'
    h5.dropdown-header.rounded-top.font-weight-bold.bg-light.border-bottom.border-light = t('.title')
    = link_to profile_path, class: 'dropdown-item' do
      = fa_icon :user, class: 'fa-fw mr-3'
      = t('.edit_profile')
    = link_to edit_preferences_path, class: 'dropdown-item' do
      = fa_icon :bell, class: 'fa-fw mr-3'
      = t('.edit_preferences')
    - if admin?
      = link_to admin_path, class: 'dropdown-item text-danger' do
        = fa_icon :shield_alt, class: 'fa-fw mr-3'
        = t('.admin_zone')
    = link_to logout_path, method: :delete, class: 'dropdown-item pb-2' do
      = fa_icon :sign_out_alt, class: 'fa-fw mr-3'
      = t('.logout')
