table.table.mb-0.table-striped.table-borderless
  tbody
    tr
      th = t('.function')
      td = 'NOW()'
    tr
      th = t('.combinator')
      td = '&& ||'
    tr
      th = t('.operators')
      td = '* ** + - / % | &'
    tr
      th = t('.comparator')
      td = '<= >= < > != == NULL'
    tr
      th = t('.variable')
      td = '$foo.bar'
    = row
