table.table.mb-0.table-striped.table-borderless
  tbody
    tr
      th = t('.functions')
      td = 'CURRENT_DATE() CURRENT_TIMESTAMP()'
    tr
      th = t('.combinators')
      td = '&& ||'
    tr
      th = t('.operators')
      td = '* ** + - / % | &'
    tr
      th = t('.comparators')
      td = '<= >= < > != =='
    tr
      th = t('.variables')
      td = '$foo.bar'
    = row
