/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

template id=id data-nested-form-target='templates'
  = form.fields_for name, model_class.new, child_index: 'NEW_RECORD' do |form|
    .card.shadow-sm.animate__animated.animate__zoomIn.mb-3 class=css_class
      .card-header.p-2.bg-body-tertiary
        .row.align-items-center
          .col.text-truncate.px-1
            = __card_heading(icon:, title: human_name.humanize)
          .col-auto
            = __resource_form_fields_has_many_button_remove(field:)
      .card-body.pb-0
        = __resource_form_fields(elements, form:)
