template id=id data-nested-form-target='templates'
  .animate__animated.animate__zoomIn class=css_class
    = form.fields_for name, model_class.new, child_index: 'NEW_RECORD' do |form|
      = field_set_tag fa_icon(icon, class: 'me-2') + human_name.humanize do
        = __resource_form_fields(elements, form:)
    = __resource_form_fields_has_many_button_remove(field:)
