- inputs_count.times do |index|
  span data-controller='password'
    = form.password_field index.zero? ? name : :"#{name}_confirmation",
                          required: required?,
                          autocomplete:,
                          'data-password-target': 'input',
                          prepend: fa_icon(icon),
                          append: fa_icon(:eye, class: 'icon', role: 'button', data:) + \
                                  fa_icon(:eye_slash, class: 'icon d-none', role: 'button', data:)
