- breadcrumb title, admin_path
.row.g-3
  = __admin_widgets_subscription
  = __admin_widgets_quota_entities
  = __admin_widgets_quota_prompts
  = __admin_widgets_backups
  = __admin_widgets_data_cleanings
  = __admin_widgets_configuration
  = __admin_widgets_migrations
  = __admin_widgets_sessions
  = __admin_widgets_translations
  = __admin_widgets_documentation
  = __admin_widgets_api_requests
  = __admin_widgets_api_keys
  = __admin_widgets_api_chart
  = __admin_widgets_users
  = __admin_widgets_teams
  = __admin_widgets_roles
  = __admin_widgets_permissions
  = __admin_widgets_dashboards
  = __admin_widgets_charts
  = __admin_widgets_metrics
  = __admin_widgets_rankings
  = __admin_widgets_webhook_endpoints
  = __admin_widgets_webhook_requests
  = __admin_widgets_pdf_templates
  = __admin_widgets_email_templates
