nav.navbar.navbar-expand.p-0.sticky-top
  = render Schematics::Navbar::BreadcrumbTrail::Component.new
  ul.navbar-nav.ms-auto.p-3
    = render Schematics::Navbar::NotificationCenter::Component.new
    = render Schematics::Navbar::MessageCenter::Component.new
    = render Schematics::Navbar::TaskCenter::Component.new
    = render Schematics::Navbar::SearchBar::Component.new
    = render Schematics::Navbar::SwitchTheme::Component.new
    = render Schematics::Navbar::OnlineUsersCenter::Component.new
    = render Schematics::Navbar::MyAccount::Component.new
