nav.navbar.navbar-expand.bg-body-tertiary.p-0.sticky-top
  = component 'navbar/breadcrumb_trail'
  ul.navbar-nav.ms-auto.p-2
    = component 'navbar/notification_center'
    = component 'navbar/message_center'
    = component 'navbar/task_center'
    = component 'navbar/meeting_center'
    = component 'navbar/search_bar'
    = component 'navbar/switch_theme'
    = component 'navbar/online_users_center'
    = component 'navbar/my_account'
