.navbar {
  height: 3.5rem;

  .navbar-nav {
    height: 3.5rem;
  }
}

html[data-bs-theme="dark"] {
  .navbar-nav {
    .nav-link.switch-theme.dark {
      display: none;
    }
  }
}

html[data-bs-theme="light"] {
  .navbar-nav {
    .nav-link.switch-theme.light {
      display: none;
    }
  }
}
