.navbar {
  height: 3.5rem;

  &.scrolled {
    background: rgba(255, 255, 255, .6); // scss-lint:disable ColorVariable
  }

  &.scrolled:hover {
    background: var(--bs-white);
  }

  .navbar-nav {
    height: 3.5rem;
  }
}
