nav.navbar.navbar-expand.p-0.sticky-top.z-index-1
  = render Schematics::BreadcrumbTrail::Component.new
  ul.navbar-nav.ms-auto.p-3
    = render Schematics::SearchBar::Component.new
    = render Schematics::NotificationCenter::Component.new
    = render Schematics::MessageCenter::Component.new
    = render Schematics::OnlineUsersCenter::Component.new
    = render Schematics::SwitchTheme::Component.new
    = render Schematics::MyAccount::Component.new
