= button_to one_time_password_path, method: :delete, data:, class: css_classes, title:, form: do
  span.icon = fa_icon :toggle_off
  span.icon.d-none = fa_icon :spinner, animation: 'spin'
  span.text.d-none.d-lg-inline = title
  span.text.d-none = t('schematics.application.button.loading')
