li.nav-item.dropdown.no-arrow.d-flex.align-items-center.pr-3
  a#notificationsDropdown.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
    = fa_icon :bell, class: "fa-lg"
    .badge.badge-danger 3
  .dropdown-menu.dropdown-menu-right.animated.zoomIn.shadow-sm aria-labelledby="notificationsDropdown" 
    h6.dropdown-header Header
    .dropdown-item.d-flex.align-items-center
      | Test
    .dropdown-divider
    = link_to "Voir toutes les notifications", schematics.timeline_path, class: "dropdown-item text-muted small"
