- versions = PaperTrail::Version.with_user.with_item.where(created_at: current_user.updated_at...).order(created_at: :desc)
li.nav-item.dropdown.no-arrow.d-flex.align-items-center.pr-3
  a#notificationsDropdown.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
    = fa_icon :bell, class: "fa-lg"
    .badge.badge-danger= versions.size if versions.any?
  .dropdown-menu.dropdown-menu-right.animated.zoomIn.shadow-sm.p-0 aria-labelledby="notificationsDropdown" 
    h5.dropdown-header.font-weight-bold.bg-light= t('.message_center')
    - versions.each do |version|
      .dropdown-item.d-flex.align-items-center
        = cell('schematics/version', version).()
    .dropdown-divider
    = link_to "Voir toutes les notifications", schematics.timeline_path, class: "dropdown-item text-muted small"
