.container-fluid.p-0.bg-body-tertiary
  .row.g-0.h-100
    = component :sidebar
    .col.content.d-flex.flex-column class=css_class
      = component :navbar
      .container-fluid.my-1.px-3
        = content
      = component :footer
