.container-fluid.p-0.h-100
  .row.g-0.h-100
    = render Schematics::Sidebar::Component.new
    .col.content.d-flex.flex-column class=css_class
      = render Schematics::Navbar::Component.new
      .container-fluid.my-3.px-3
        = content
      = render Schematics::Footer::Component.new
