doctype html
= __document_element do
  body data-controller='application'
    = turbo_stream_from current_user, :generate_file_in_background
    = __toast(flash.to_a)
    = __search_bar_modal
    = __hotkeys_modal
    = __license_comparison_modal
    = __layout do
      = yield
    = yield :charts_js
