doctype html
html lang=::I18n.locale dir='ltr'
  head
    meta charset='utf-8'
    meta name='turbolinks-cache-control' content='no-preview'
    meta name='viewport' content='width=device-width,initial-scale=1'
    meta name='theme-color' content=settings(:theme_color)
    title #{settings(:company_name)} - #{title}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = render Schematics::ThemeStylesheetLink::Component.new(theme: 'light')
    = render Schematics::ThemeStylesheetLink::Component.new(theme: 'dark')
    = render Schematics::Favicon::Component.new
    = stylesheet_link_tag 'schematics/application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'schematics/controllers', type: 'module', crossorigin: 'anonymous', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'schematics/application', 'data-turbolinks-track': 'reload'
    css [nonce=content_security_policy_nonce]:
      :root {
        --bs-primary: #{settings(:theme_color)};
        --bs-primary-darken: #{theme_color_darken};
        --bs-primary-rgb: #{theme_color_rgb};
      }
  body
    = render Schematics::Toast::Component.with_collection(flash.to_a)
    .p-0.m-0.d-flex.align-items-center.min-vh-100.bg-primary.border-0
      .container.animate__animated.animate__slideInDown
        = yield
