doctype html
html
  head
    meta charset="utf-8"
    meta name="turbolinks-cache-control" content="no-preview"
    title #{setting(:company_name)} - #{title}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'schematics/themes/dark', media: '(prefers-color-scheme: dark)', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'schematics/themes/light', media: '(prefers-color-scheme: light)', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'schematics/application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'schematics/application', 'data-turbolinks-track': 'reload'
  body
    - flash.each do |f|
      = render Schematics::Toast::Component.new(flash: f)
    .jumbotron.p-0.m-0.d-flex.align-items-center.min-vh-100.bg-primary.border-0
      .container.animate__animated.animate__slideInDown
        = yield
