doctype html
= render Schematics::RootElement::Component.new do
  = render Schematics::Head::Component.new
  body.bg-primary data-controller='application'
    = render Schematics::Toast::Component.with_collection(flash.to_a)
    .container.col-lg-6.mt-4.pt-4
      = yield
