doctype html
= __document_element do
  body data-controller='application'
    = __toast(flash.to_a)
    .p-0.m-0.d-flex.align-items-center.min-vh-100.bg-pattern-primary
      .container.col-lg-6
        = yield
