doctype html
html
  head
    meta charset='utf-8'
    meta name='viewport' content='width=device-width,initial-scale=1'
    = stylesheet_link_tag 'schematics/themes/dark', media: '(prefers-color-scheme: dark)'
    = stylesheet_link_tag 'schematics/themes/light', media: '(prefers-color-scheme: light)'
    = stylesheet_link_tag 'schematics/mailer', media: 'all'
  body
    = yield
