doctype html
html
  head
    meta charset="utf-8"
    = wicked_pdf_stylesheet_link_tag 'schematics/themes/light'
    = wicked_pdf_stylesheet_link_tag 'schematics/application'
    = wicked_pdf_javascript_include_tag 'schematics/application'
  body.py-4
    = yield
