doctype html
html
  head
    meta charset='utf-8'
    = stylesheet_link_tag :app, 'data-turbo-track': 'reload'
    = javascript_importmap_tags
    = __theme_custom_stylesheet
  body
    = yield
    = yield :charts_js
