doctype html
html
  head
    meta charset='utf-8'
    = _application_stylesheet_link
    = stylesheet_link_tag 'schematics/application', media: 'all'
    = _javascript_importmap
    = _theme_custom_stylesheet
  body
    = yield
    = yield :charts_js
