doctype html
html
  head
    meta charset="utf-8"
    = wicked_pdf_stylesheet_link_tag "pdf"
    = wicked_pdf_javascript_include_tag "pdf"
  body
    #header
      = setting(:company_name)
      = image_tag setting(:company_logo)
    #content
      = yield
    #footer
      p= setting(:company_address)
      p= setting(:company_registration_number)
