= link_to polymorphic_path(@resource, action: :duplicate), data: { turbo_method: :post }, class: 'btn btn-primary btn-sm btn-icon-split ms-2' do
  span.icon = fa_icon :clone
  span.text.d-none.d-lg-inline = t('.text')
