.dropdown.d-inline-block
  a#support-dropdown.dropdown-toggle.text-decoration-none aria-expanded='false' data-bs-toggle='dropdown' role='button'
    = t('.text')
  .dropdown-menu.shadow-sm.animate__animated.animate__zoomIn.p-0.mb-2 aria-labelledby='support-dropdown'
    h5.dropdown-header.bg-body-tertiary.fw-bold = t('.title')
    = component 'button/help', :dropdown_item
    = component 'button/support', :dropdown_item
