= form_tag preferences_path, method: :put do
  .table-responsive
    table.table.mb-0.table-striped
      tr
        th
        - events.each do |action|
          td.text-center.text-primary = t(action, scope: %i[activerecord attributes permission actions])
      - entities.each do |entity|
        - model_class = entity.class_name.constantize
        tr
          th.text-primary
            = fa_icon entity.icon, class: 'fa-fw mr-2 text-muted'
            = model_class.model_name.human
          - events.each do |action|
            - preference = "#{action}_#{model_class}"
            td.text-center
              - if can?(action.to_sym, model_class)
                .custom-control.custom-switch
                  = check_box 'preferences', preference, { class: 'custom-control-input', checked: preferences(preference, true) }, 'true', 'false'
                  = label_tag preference, '', class: 'custom-control-label', for: "preferences_#{preference}"
  .m-3
    = render Schematics::Button::Confirm::Component.new
    = render Schematics::Button::Cancel::Component.new(path: root_path)
