= form_with url: preferences_path, method: :patch do
  .table-responsive
    table.table.mb-0.table-striped.table-borderless
      thead
        tr
          th
          - events.each_value do |action|
            th.text-primary = action
      tbody
        - model_classes.each do |model_class|
          tr
            td.text-nowrap
              = fa_icon model_class.entity.icon, class: 'fa-fw me-2 text-body-secondary'
              = model_class.human_name_plural.humanize
            - events.each_key do |action|
              td
                = render Schematics::PreferencesTable::Toggle::Component.new(action:, model_class:)
  .m-3
    = render Schematics::Button::Confirm::Component.new
    = render Schematics::Button::Cancel::Component.new(path: root_path)
