[Unit]
Description=<%= Tenant.human %> HTTP Server
After=network.target
Requires=puma-<%= Tenant.subdomain %>.socket

[Service]
User=root
WorkingDirectory=<%= Rails.root %>
Environment=RAILS_ENV=production
ExecStart=<%= Rails.root.join('bin', 'rails') %> server
Restart=always

[Install]
WantedBy=multi-user.target
