[Unit]
Description=<%= server_name %> HTTP Server
After=network.target
Requires=<%= socket_filename %>

[Service]
User=root
WorkingDirectory=<%= Rails.root %>
Environment=RAILS_ENV=production
Environment=DATABASE=<%= name %>
Environment=TLS_DOMAIN=<%= name %>.<%= Server.domain %>
Environment=TARGET_PORT=0
ExecStart=<%= Rails.root.join('bin', 'thrust') %> <%= Rails.root.join('bin', 'rails') %> server
StandardOutput=append:<%= Rails.root.join('log', name, 'systemd.access.log') %>
StandardError=append:<%= Rails.root.join('log', name, 'systemd.error.log') %>
Restart=always

[Install]
WantedBy=multi-user.target
