[Unit]
Description=<%= server_name %> HTTP Server Accept Sockets

[Socket]
ListenStream=<%= Rails.root.join('tmp', 'sockets', "#{name}.sock") %>

ReusePort=true
Backlog=1024

[Install]
WantedBy=sockets.target
