= @builder.simple_fields_for :options do |options_form|
  button.btn.btn-sm.btn-icon-split.ms-2 {
    type='button'
    data-bs-toggle='collapse'
    data-bs-target="##{id}"
    aria-expanded='false'
    aria-controls=id
  }
    span.icon = fa_icon :gear
    span.text = t('.text')
  .collapse.mt-3 id=id
    - available_options.each do |option|
      = options_form.input option,
                           as: input_type[option],
                           checked_value: 'true',
                           unchecked_value: 'false'
