= @builder.simple_fields_for :options do |options_form|
  button.btn.ms-2 {
    type='button'
    data-bs-toggle='collapse'
    data-bs-target="##{id}"
    aria-expanded='false'
    aria-controls=id
  } = fa_icon :gear
  .collapse.mt-3 id=id
    - available_options.each do |option|
      = options_form.input option,
                           as: input_type[option],
                           checked_value: 'true',
                           unchecked_value: 'false'
