- breadcrumb title, new_polymorphic_path([parent_model_class, ::Import], format: nil)
.card.shadow-sm.border-0
  .card-header.border-top-0.border-left-0.border-right-0.border-light.px-2.py-1
    .row.align-items-center
      .col.text-truncate
        = render Schematics::CardHeading::Component.new(icon: :cloud_upload_alt, title:)
      .col-auto
        = render Schematics::Button::GenerateFileInBackground::Component.csv(:download_csv_template)
  .card-body.p-3
    = render Schematics::ResourceForm::Component \
              .new(resource: @resource, url: polymorphic_path([parent_model_class, ::Import], format: nil), cancel_path: parent_model_class)
