- breadcrumb title, schematics.edit_profile_path
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.px-1.py-2
    = __card_heading(icon: :user, title:)
  .card-body.p-3.pt-1
    = __resource_form(resource: current_user, url: schematics.profile_path, attributes:, cancel_path: schematics.root_path)
