.modal id="diffModal-#{version.id}" class=('fade' unless Rails.env.test?) aria-hidden="true" aria-labelledby="diffModalTitle" role="dialog" tabindex="-1" 
  .modal-dialog.modal-dialog-centered.modal-lg role="document" 
    .modal-content.shadow-sm
      .modal-header.bg-primary
        h5#diffModalTitle.m-0.text-white.text-truncate.font-weight-bold
          = fa_icon :not_equal, class: "mr-3 ml-2"
          = t('.title')
      .modal-body.p-0
        .table-responsive
          table.table.mb-0.table-striped
            tbody.table-bordered.border-0
              - new_version = version.next&.reify || resource
              - (version.entity.renderable_fields - version.entity.association_attributes).each do |field|
                tr
                  th
                    = fa_icon field.icon, class: "mr-2 text-muted"
                    = version.model_class.human_attribute_name(field.name)
                  td
                    - value = version.reify.instance_eval(field.name)
                    - case field
                    - when Schematics::Attributes::Attachments
                      - value.each do |attachment|
                        - if attachment.representable?
                          = image_tag_representation(attachment)
                        - else
                          = link_to attachment.filename, attachment
                    - when Schematics::Attributes::Attachment
                      - if value.attached?
                        - if value.representable?
                          = image_tag_representation(value)
                        - else
                          = link_to value.filename, value
                    - when Schematics::Attributes::Boolean
                      = value ? fa_icon(:check, class: "text-success") : fa_icon(:times, class: "text-danger")
                    - when Schematics::Attributes::RichText
                      == value
                    - else
                      = field.format(value)
                  td
                    - value = new_version.instance_eval(field.name)
                    - case field
                    - when Schematics::Attributes::Attachments
                      - value.each do |attachment|
                        - if attachment.representable?
                          = image_tag_representation(attachment)
                        - else
                          = link_to attachment.filename, attachment
                    - when Schematics::Attributes::Attachment
                      - if value.attached?
                        - if value.representable?
                          = image_tag_representation(value)
                        - else
                          = link_to value.filename, value
                    - when Schematics::Attributes::Boolean
                      = value ? fa_icon(:check, class: "text-success") : fa_icon(:times, class: "text-danger")
                    - when Schematics::Attributes::RichText
                      == value
                    - else
                      = field.format(value)
              - (version.entity.association_attributes + version.entity.renderable_associations).each do |association|
                tr
                  th
                    = fa_icon association.icon, class: "mr-2 text-muted"
                    = version.model_class.human_attribute_name(association.name)
                  td
                    - value = version.reify.instance_eval(association.name)
                    = link_to(value, value) if value
                  td
                    - value = new_version.instance_eval(association.name)
                    = link_to(value, value) if value
      .modal-footer.bg-light.justify-content-start
        = button_tag data: { dismiss: "modal" },
                     class: "btn btn-danger btn-sm btn-icon-split" do
                       span.icon= fa_icon :times
                       span.text= t('schematics.application.form.buttons.cancel')
