- breadcrumb title, :timeline_path
.row.justify-content-center
  .col-xl-9.col-md-12
    ul.timeline.list-unstyled
      - @versions.each do |version|
        li
          .timeline-icon.bg-primary.border.shadow-sm
            = link_to fa_icon(version.item.class.entity.icon, size: "2x"), main_app.url_for(version.item.class), class: "text-light"
          .card.shadow-sm
            .card-body
              = render 'version', version: version, user: @users.find_by_id(version.whodunnit)
== pagy_bootstrap_nav_js(@pagy) if @pagy.pages > 1
