- if translated?
  - available_locales.each do |locale|
    == required_rich_text_area :"#{name}_#{locale}", label: i18n_label(locale), data:, required:
- else
  == required_rich_text_area name.to_sym, data:
