.row.pt-3
  .col.d-none.d-xl-flex.text-secondary.ms-2.align-items-center.align-self-start
    == pagy_items_selector_js(pagy, item_name: human_name_plural) if human_name_plural
  .col.d-flex.justify-content-center.flex-wrap
    div class=css_classes == pagy_bootstrap_nav(pagy) if pages?
    == pagy_bootstrap_nav(calendar[:month]) if calendar?
  .col.d-none.d-xl-flex.text-secondary.me-2.align-items-center.justify-content-end.align-self-start
    == pagy_info(pagy, item_name: human_name_plural) if human_name_plural
