.custom-control.custom-switch.mx-auto.w-0.mb-2.mt-1
  = check_box_tag scope,
                  "true",
                  params[scope] == "true",
                  onchange: "$(this.form).submit()",
                  class: "custom-control-input"
  = label_tag scope, "", class: "custom-control-label"
