.input-group.ml-1.mr-1.mb-2.mt-1
  = render 'schematics/application/filters/eraser', name: field.name, range: :from
  = date_field_tag :"by_#{field.name}[from]",
    params.dig(:"by_#{field.name}", :from),
    class: "form-control bg-light #{'border-0' unless params.dig(:"by_#{field.name}", :from).present?}"
  .mr-2
  = date_field_tag :"by_#{field.name}[to]",
    params.dig(:"by_#{field.name}", :to),
    class: "form-control bg-light #{'border-0' unless params.dig(:"by_#{field.name}", :to).present?}"
  = render 'schematics/application/filters/eraser', name: field.name, range: :to
  