.input-group.mr-sm-2.mb-2
  = render 'schematics/application/filters/eraser', name: field.name, range: :from
  = date_field_tag "by_#{field.name}[from]".to_sym, params.dig("by_#{field.name}".to_sym, :from), class: "form-control bg-light #{'border-0' unless params.dig("by_#{field.name}".to_sym, :from).present?}"
  .mr-2
  = date_field_tag "by_#{field.name}[to]".to_sym, params.dig("by_#{field.name}".to_sym, :to), class: "form-control bg-light #{'border-0' unless params.dig("by_#{field.name}".to_sym, :to).present?}"
  = render 'schematics/application/filters/eraser', name: field.name, range: :to
  