.custom-control.custom-switch
  = check_box_tag :with_deleted, "true", params[:with_deleted] === "true", onchange: "this.form.submit()", class: "custom-control-input"
  = label_tag :with_deleted, "Afficher les données archivées", class: "custom-control-label"
