.custom-control.custom-switch.mx-auto.w-0.mb-2.mt-1
  = check_box_tag :with_deleted,
                  "true",
                  params[:with_deleted] == "true",
                  onchange: "this.form.submit()",
                  class: "custom-control-input"
  = label_tag :with_deleted, "", class: "custom-control-label"
