/ Copyright © 2025 Dev & Software. All rights reserved.

/ THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
/ REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
/ NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
/ NONINFRINGEMENT.
/ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
/ LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.

- breadcrumb title, sudo_path
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.px-1.py-2
    = __card_heading(icon: :shield_halved, title:)
  .card-body.p-3.pt-1
    = __sudo_form
