.input-group
  = search_field_tag filter_name,
                     value,
                     placeholder: t('.prompt', attribute_name: attribute_name),
                     class: 'form-control typeahead-filter border-0 bg-transparent'
