.input-group.flex-nowrap data-controller='typeahead' data-typeahead-highlight='true'
  = search_field_tag filter_name,
                    value,
                    minlength: 2,
                    placeholder: t('.prompt', attribute_name:),
                    autocomplete: 'off',
                    spellcheck: false,
                    data: { 'typeahead-target': 'input', action: },
                    class: css_classes
  ul.list-group.list-group-hover.list-group-striped.shadow-sm.typeahead-results.position-absolute.top-100.w-100 {
    data-typeahead-target='results'
  }
  ul.list-group.list-group-hover.list-group-striped.shadow-sm.typeahead-results.position-absolute.top-100.w-100.d-none {
    data-typeahead-target='history'
  }
    - history.each do |query|
      li.list-group-item.p-2.border-0.text-start.text-truncate {
        data-action='mousedown->typeahead#selectItem'
        data-value=query
        role='button'
      }
        = fa_icon :history, class: 'text-secondary fa-fw me-2'
        = query
