thead.filters.border-bottom.border-light
  tr
    th.text-nowrap.text-center.pb-0
      = fa_icon :archive, class: 'text-dark mr-2'
      u = t('.archives')
    - entity.listable_elements.stable_sort_by(&:weight).each do |field|
        th.text-nowrap.text-center.pb-0
          = render Schematics::SortLink::Component.new(field: field, model_class: @model_class)
  tr
    th.text-nowrap.align-middle.p-0
      = render Schematics::Filter::Checkbox::Component.new(field: :with_deleted)
    - entity.listable_elements.stable_sort_by(&:weight).each do |field|
        th.align-middle.text-center.p-0
          = render Schematics::Filter::Component.create(field: field, model_class: @model_class)
