/*
 * Copyright © 2025 Dev & Software. All rights reserved.
 *
 * THIS SOFTWARE IS PROPRIETARY AND CONFIDENTIAL. UNAUTHORIZED COPYING, DISTRIBUTION, MODIFICATION,
 * REVERSE ENGINEERING, OR DISCLOSURE IS STRICTLY PROHIBITED.
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT
 * NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
 * NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER
 * LIABILITY ARISING FROM, OUT OF, OR IN CONNECTION WITH THE SOFTWARE OR ITS USE.
 */

@property --percentage {
  syntax: '<number>';
  initial-value: 0;
  inherits: false;
}

@property --v1 {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

@property --v2 {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.count-up {
  --v1: calc(var(--percentage) - 0.5);
  --v2: calc((var(--percentage) - var(--v1)) * 10 - 0.5);

  counter-reset: v1 var(--v1) v2 var(--v2);
  transition: --percentage 3s;
}

.count-up::before {
  content: counter(v1) '.' counter(v2, decimal) '%';
}
