.col-xl-6.col-md-12.schema-editor-attribute
  .card.shadow-sm.border-0
    .card-header.border-top-0.border-start-0.border-end-0.px-2.py-1
      .row.align-items-center
        .col.text-truncate
          = render Schematics::CardHeading::Component.new(icon:, title:)
        .col-auto
          = render Schematics::SchemaEditor::Button::Options::Component.new(field: builder.object)
          = render Schematics::SchemaEditor::Button::Remove::Component.new(wrapper: '.schema-editor-attribute')
    .card-body
      = builder.hidden_field :id
      - case builder.object
      - when Schematics::Attributes::BelongsTo
        = builder.select :name, allowed_association_types, {}, { required: true, data: { controller: 'dropdown' } }
      - else
        = builder.text_field :name, class: 'entity_field_name', required: true
      = builder.select :type, collection, {}, { required: true, data: { controller: 'dropdown' } }
      = render Schematics::SchemaEditor::Options::Modal::Component.new(builder:)
