.col-xl-6.col-md-12.schema-editor-attribute.cursor-grab
  .card.shadow-sm
    .card-header.px-2.py-1
      .row.align-items-center
        .col.text-truncate
          = component :card_heading, icon:, title:
        .col-auto
          = component('schema_editor/button/options', builder:)
          = component('schema_editor/button/remove', wrapper: '.schema-editor-attribute')
    .card-body
      = builder.hidden_field :id
      - case builder.object
      - when Schematics::Attributes::BelongsTo
        = builder.select :name,
                         allowed_association_types,
                         { prompt: },
                         { required: true, data: { controller: 'schema-editor--association-dropdown' } }
      - else
        = builder.text_field :name, maxlength: 50, class: 'entity-field-name', data: { controller: 'schema-editor--special-characters' }
      = builder.select :type, collection, {}, { required: true, data: { controller: 'dropdown' } }
      = component 'schema_editor/options/modal', builder:
