.tab-pane.fade role='tabpanel' id=id class=css_classes
  .row.g-3 {
    data-controller='sortable'
    data-sortable-group-value='dashboard_metrics'
    data-sortable-subgroup-value=@dashboard.id
  }
    = __onboarding
    = __metric(metrics)
  .row.g-3.pt-3 {
    data-controller='sortable'
    data-sortable-group-value='dashboard_charts'
    data-sortable-subgroup-value=@dashboard.id
  }
    = __chart(charts)
  .row.g-3.pt-3 {
    data-controller='sortable'
    data-sortable-group-value='dashboard_rankings'
    data-sortable-subgroup-value=@dashboard.id
  }
    = __ranking(rankings)
