.btn-group
  .custom-control.custom-switch.w-0
    = check_box_tag @resource.id, 'true', false, class: 'custom-control-input', data: { 'action': 'click->comparison#toggleButton', 'comparison-target': 'switch' }
    = label_tag @resource.id, '', class: 'custom-control-label'
