.row data-href=href
  .col-auto.align-self-center
    = render Schematics::Attachment::Component.avatar(user:)
  .col.text-truncate
    = full_name
    .text-muted data-controller='timeago' datetime=updated_at
