- breadcrumb @resource.to_s, @resource
- breadcrumb title, message_reply_path(@resource)
.card.shadow-sm.animate__animated.animate__zoomIn {
  data-controller='auto-save'
  data-auto-save-draft-value=@draft.to_json
}
  .card-header.px-2.py-1
    .row.align-items-center
      .col.text-truncate
        = render Schematics::CardHeading::Component.new(icon: :reply, title:)
      .col-auto
        = render Schematics::Button::RestoreDraft::Component.new(draft: @draft)
        = render Schematics::Button::Draft::Component.new
  .card-body.p-3
    = render Schematics::ResourceForm::Component.new(resource: @resource.new_reply, cancel_path: @resource)
