.btn-group.position-static data-controller='viewer-settings'
  .dropdown.position-static
    button#settings-dropdown.btn.btn-sm.bg-body-tertiary.dropdown-toggle {
      aria-expanded='false'
      data-bs-toggle='dropdown'
      type='button'
    }
      = fa_icon :ellipsis_vertical
    .dropdown-menu.shadow-sm.dropdown-menu-start.animate__animated.animate__zoomIn.p-0 {
      aria-labelledby='settings-dropdown'
      data-action='click->viewer-settings#keepOpened:stop'
    }
      h5.dropdown-header.bg-body-tertiary.fw-bold
        = t('.title')
      - if can?(:restore, model_class)
        .dropdown-item
          = render Schematics::Filter::Checkbox::Component.new(field: :with_deleted)
      = render Schematics::Viewer::Settings::Toggle::Component.with_collection(listable_elements.stable_sort_by(&:weight))
  = render Schematics::Viewer::Settings::Button::Component.with_collection(viewers, entity:)
