.btn-group.position-static data-controller='viewer-settings'
  .dropdown.position-static data-controller='tooltip' data-bs-title=title
    a#settings-dropdown.btn.btn-sm.bg-body-tertiary.dropdown-toggle {
      data-bs-toggle='dropdown'
      data-bs-auto-close='outside'
      aria-expanded='false'
      role='button'
    }
      = fa_icon :ellipsis_vertical
    .dropdown-menu.shadow-sm.dropdown-menu-start.animate__animated.animate__zoomIn.p-0 {
      aria-labelledby='settings-dropdown'
    }
      h5.dropdown-header.bg-body-tertiary.fw-bold
        = title
      - if can?(:restore, model_class)
        .dropdown-item
          = render Schematics::Filter::Checkbox::Component.new(field: :with_deleted)
      = render Schematics::Viewer::Settings::Toggle::Component.with_collection(listable_elements.stable_sort_by(&:weight))
  = render Schematics::Viewer::Settings::Button::Component.with_collection(other_viewers, entity:)
