li.nav-item.dropdown.d-flex.align-items-center.ps-2.ms-2
  a#account-dropdown.nav-link.dropdown-toggle {
    aria-expanded='false'
    data-bs-toggle='dropdown'
    role='button'
  }
    .row.g-2.align-items-center
      .col-auto.d-none.d-lg-inline.text-end
        .text-primary = current_user
        #carouselMyAccount.carousel.carousel-fade data-bs-ride='carousel'
          .carousel-inner
            .carousel-item.active
              = fa_icon current_module::Role.entity.icon, class: 'me-2'
              = role
            - teams.each do |team|
              .carousel-item
                = fa_icon current_module::Team.entity.icon, class: 'me-2'
                = team
      .col
        = __attachment(:avatar, user: current_user)
  .dropdown-menu.shadow-sm.dropdown-menu-end.animate__animated.animate__zoomIn.p-0.mt-2 {
    aria-labelledby='account-dropdown'
  }
    h5.dropdown-header.rounded-top.bg-body-tertiary.fw-bold
      = t('.title')
    = link_to edit_profile_path, class: 'dropdown-item' do
      = fa_icon :user, class: 'fa-fw me-3'
      = t('.edit_profile')
    = link_to edit_preferences_path, class: 'dropdown-item' do
      = fa_icon :bell, class: 'fa-fw me-3'
      = t('.edit_preferences')
    = link_to one_time_passwords_path, class: 'dropdown-item' do
      = fa_icon :mobile_screen, class: 'fa-fw me-3'
      = t('.one_time_passwords')
    button.dropdown-item data-bs-toggle='modal' data-bs-target='#hotkeys-modal'
      = fa_icon :keyboard, class: 'fa-fw me-3'
      = t('.hotkeys')
    - if can?(:index, :admin)
      = link_to admin_path, class: 'dropdown-item text-danger' do
        = fa_icon :shield_alt, class: 'fa-fw me-3'
        = t('.admin_zone')
    = link_to logout_path, data: { turbo_method: :delete }, class: 'dropdown-item' do
      = fa_icon :right_from_bracket, class: 'fa-fw me-3'
      = t('.logout')
