- breadcrumb title, polymorphic_path(@resource)
.card.shadow-sm.animate__animated.animate__zoomIn
  .card-header.px-2.py-1
    .row.align-items-center
      .col.text-truncate
        = component :card_heading, icon: :eye, title:
      .col-auto
        = component 'button/generate_file_in_background', :pdf
        = component 'button/comment', resource: @resource
  .card-body.p-3
    = component 'viewer/swagger', spec: @resource.data
= component 'viewer/comments', resource: @resource
