default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  default:
    <<: *default
    database: default_development
    migrations_paths: db/migrate
  <%= app_name %>:
    <<: *default
    database: <%= app_name %>_development
    migrations_paths: db/<%= app_name %>_migrate

test:
  <<: *default
  database: <%= app_name %>_test

production:
  <<: *default
  database: <%= app_name %>_production
  username: <%= app_name %>
  password: <%%= ENV["<%= app_name.upcase %>_DATABASE_PASSWORD"] %>
